.p-pagination-woocommerce {
    ul {
        display: flex;
        margin-top: map-get($spacers, 4);
        margin-bottom: 0;
        padding: 0;
        list-style: none;
    }

    li {
        margin-right: 1px;
        margin-left: 1px;
    }

    .page-numbers {
        @include font-size($h5-font-size);

        display: flex;
        align-items: center;
        justify-content: center;
        background: $primary;
        width: map-get($spacers, 7);
        height: map-get($spacers, 7);
        color: color-yiq($primary);
        font-family: $font-family-secondary;
        font-weight: $font-weight-medium;

        &:hover,
        &:focus,
        &:active {
            background: lighten($primary, $emphasized-link-hover-darken-percentage);
        }

        &.current {
            background: $light;
            color: $primary;
        }

        .next,
        .prev {
            border: 0;
            font-size: 0;

            &::before {
                font-family: "Font Awesome 5 Pro";
                font-size: $font-size-base;
                font-weight: normal;
            }
        }

        .next {
            &::before {
                content: "\f061";
            }
        }

        .prev {
            &::before {
                content: "\f060";
            }
        }
    }
}
