.gn-minicart-inner {
    padding: map-get($spacers, 3);
}

.widget_shopping_cart_content {
    display: flex;
    flex-direction: column;
    max-height: 21.88rem - (map-get($spacers, 3) * 2); // 350px

    .variation {
        display: none;
    }

    .woocommerce-mini-cart__empty-message {
        margin-bottom: 0;
    }

    ul {
        overflow: scroll;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .cart_list {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        padding: 0;
        list-style: none;

        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: map-get($spacers, 2);
            height: 50px;

            img {
                margin-right: map-get($spacers, 2);
                width: auto;
                height: 50px;
            }

            a {
                @extend .text-body, .text-truncate;
            }

            a:not(:first-of-type) {
                flex: 1;
                margin-right: map-get($spacers, 3);
            }

            .remove {
                font-size: 0;

                &::after {
                    @extend .text-danger;

                    position: relative;
                    margin-right: map-get($spacers, 3);
                    font-family: "Font Awesome 5 Pro";
                    font-size: 1rem;
                    content: "\f2ed";
                }
            }

            .quantity {
                @extend .text-body;

                display: flex;
            }
        }
    }

    .total {
        display: flex;
        justify-content: space-between;
        border-top: $border-width solid $gray-100;
        padding-top: map-get($spacers, 3);

        strong {
            font-weight: $font-weight-base;
        }
    }

    .buttons {
        margin-bottom: 0;

        .wc-forward {
            display: none;
        }

        .checkout {
            @extend .btn, .btn-success, .btn-lg;

            display: block;
            color: $white;
        }
    }

    // .free-shipping-progressbar{
    //     text-align: center;
    // }
    .progress {
        margin-bottom: map-get($spacers, 3);
        background-color: $gray-100;
        height: map-get($spacers, 2);

        .progress-bar {
            transition: width 2s;
        }

        &.has-free-shipping {
            .progress-bar {
                background-color: $success;
            }
        }
    }
}
