.gf-globalnav-mobile {
    &::before {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: opacity 0.56s cubic-bezier(0.52, 0.16, 0.24, 1), visibility 0s linear 0.56s;
        visibility: hidden;
        opacity: 0;
        z-index: 999;
        background: rgba($black, 0.8);
        content: "";
        pointer-events: none;
        backdrop-filter: saturate(180%) blur(20px);
    }

    &.open {
        &::before {
            transition: opacity 0.56s cubic-bezier(0.52, 0.16, 0.24, 1), visibility 0s linear;
            visibility: visible;
            opacity: 1;
            pointer-events: initial;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .gn-nav {
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        z-index: 998;
        background: $primary;
        padding-top: map-get($spacers, 3);
        padding-bottom: map-get($spacers, 3);
        width: 100%;
        color: color-yiq($primary);

        &.fixed {
            position: fixed;
            transition: top 0.24s linear;
        }

        .gn-content {
            margin: 0 auto;
            padding: 0 ($grid-gutter-width / 2);
            width: 100%;
            min-width: 320px;
            list-style: none;

            @include media-breakpoint-up(sm) {
                max-width: map-get($container-max-widths, sm);
            }

            @include media-breakpoint-up(md) {
                max-width: map-get($container-max-widths, md);
            }

            @include media-breakpoint-up(lg) {
                max-width: map-get($container-max-widths, lg);
            }

            @include media-breakpoint-up(xl) {
                max-width: map-get($container-max-widths, xl);
            }
        }
    }

    .gn-header-list {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .gn-header-logo {
            display: flex;

            img {
                width: auto;
                height: 100%;
                max-height: 1.875rem;
            }
        }
    }

    .gn-header-buttons {
        > ul {
            display: flex;
        }

        .gn-toggle-btn {
            all: unset;
            cursor: pointer;
            padding: map-get($spacers, 3) map-get($spacers, 3);

            &:hover,
            &:focus,
            &:active {
            }
        }

        li.gn-searchbar-container,
        li.gn-minicart-container {
            position: relative;
        }

        button.gn-cart-btn,
        button.gn-user-btn {
            all: unset;
            position: relative;
            cursor: pointer;
            padding: map-get($spacers, 3) map-get($spacers, 3);

            &:hover,
            &:focus,
            &:active {
            }
        }

        .gn-cart-count {
            display: inline-block;
            position: relative;
            top: -(map-get($spacers, 3) / 2);
            margin-left: -(map-get($spacers, 3) / 2);
            border-radius: 50%;
            background: $success;
            width: map-get($spacers, 3);
            height: map-get($spacers, 3);
            text-align: center;
            line-height: map-get($spacers, 3);
            font-size: $font-size-sm;
        }

        .gn-minicart {
            position: absolute;
            top: 100%;
            right: 0;
            transition: height 0.24s cubic-bezier(0.52, 0.16, 0.24, 1) 0s, opacity 0s linear 0.24s,
                visibility 0s linear 0.24s;
            visibility: hidden;
            opacity: 0;
            background: $primary;
            width: 28.13rem; //450px
            height: 0;
            overflow: hidden;
            color: color-yiq($primary);
            will-change: height, opacity, visibility;

            .gn-minicart-inner {
                transition: opacity 0s linear 0s;
                opacity: 1;
            }

            &.js-cartopen {
                transition: height 0.24s cubic-bezier(0.52, 0.16, 0.24, 1) 0s, opacity 0s linear 0s,
                    visibility 0s linear 0s;
                visibility: visible;
                opacity: 1;

                .gn-minicart-inner {
                    transition: opacity 0s linear 0.24s;
                    opacity: 1;
                }
            }
        }
    }
}

.gf-mobilnav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    transition: transform 0.56s cubic-bezier(0.52, 0.16, 0.24, 1);
    z-index: 9999;
    background: $white;
    padding: map-get($spacers, 3);
    width: calc(100% - 1rem);
    max-width: 32.5rem; // 520px
    color: color-yiq($white);
    will-change: transform;

    &.open {
        transform: translateX(0);
    }

    a {
        color: color-yiq($white);
    }

    hr {
        margin-top: map-get($spacers, 3);
        margin-bottom: map-get($spacers, 3);
        width: 100%;
    }

    .gn-content {
        display: flex;
        flex-direction: column;
        padding: 0;
        height: 100%;
        max-height: 100%;
    }

    .scroll-container {
        flex: 1 1 0;
        overflow: -moz-scrollbars-none;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none !important;
            width: 0 !important;
            height: 0 !important;
        }
    }

    .mn-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: map-get($spacers, 3);

        h5 {
            margin-bottom: 0;
        }

        .mn-closenav {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            padding: map-get($spacers, 3);
            color: color-yiq($white);

            &:hover,
            &:focus,
            &:active {
            }
        }
    }

    .gn-searchbar {
        position: relative;
        z-index: 1;

        .form-group {
            position: relative;
            margin-bottom: map-get($spacers, 0);

            input {
                // webkit clear button
                &::-webkit-search-cancel-button {
                    position: relative;
                    right: map-get($spacers, 7);
                    cursor: pointer;
                }
                // webkit clear button ends
            }

            i {
                display: flex;
                position: absolute;
                top: 0;
                right: 0;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                padding: map-get($spacers, 3);
                height: 100%;

                &:hover,
                &:focus,
                &:active {
                }
            }
        }
    }

    .icon-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: map-get($spacers, 3);
        margin: 0;
        padding: 0;
        list-style: none;

        .icon-link a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: $transition-base;

            &:hover,
            &:focus,
            &:active {
                i {
                }
            }

            i {
                @include font-size($h4-font-size);

                transition: $transition-base;
                margin-bottom: map-get($spacers, 2);
            }
        }
    }

    .nav-container {
        a {
            display: flex;
            justify-content: space-between;
            padding: map-get($spacers, 3);
        }

        ul.gn-navlist {
            display: flex;
            flex-direction: column;
        }

        li.gn-navlist-item {
        }

        li.gn-navlist-item-has-subnav,
        li.gn-navlist-item-second-has-subnav {
            > a {
                &::after {
                    margin-left: map-get($spacers, 3);
                    color: color-yiq($white);
                    font-family: "Font Awesome 5 Pro";
                    content: "\f078";
                }
            }
        }

        li.gn-navlist-item-has-subnav {
        }

        li.gn-navlist-item-has-subnav.open {
            ul.gn-subnav {
                visibility: visible;
                opacity: 1;
            }
        }

        li.gn-navlist-item-second-has-subnav {
        }

        li.gn-navlist-item-second-has-subnav.open {
            ul.gn-second-subnav {
                visibility: visible;
                opacity: 1;
            }
        }

        ul.gn-subnav {
            visibility: hidden;
            opacity: 0;
            padding-left: map-get($spacers, 3);
            overflow: hidden;
        }

        ul.gn-second-subnav {
            visibility: hidden;
            opacity: 0;
            padding-left: map-get($spacers, 3);
            overflow: hidden;
        }

        li.gn-navlist-item-second-has-subnav {
        }

        li.gn-subnav-row {
        }

        ul.gn-subnav-list {
        }
    }
}

// html.no-scroll {
//     height: 100% !important;
//     overflow-x: hidden !important;
//     overflow-y: scroll !important;

//     body {
//         height: 100% !important;
//         overflow-x: hidden !important;
//         overflow-y: hidden !important;
//     }
// }

// #wpadminbar {
//     position: fixed !important;
// }

// .gf-globalnav-mobile {
//     font-family: $font-family-secondary;
//     font-weight: $font-weight-medium;

//     &::before {
//         position: fixed;
//         top: 0;
//         right: 0;
//         bottom: 0;
//         left: 0;
//         transition: opacity 0.56s cubic-bezier(0.52, 0.16, 0.24, 1), visibility 0s linear 0.56s;
//         visibility: hidden;
//         opacity: 0;
//         z-index: 999;
//         background: rgba($black, 0.8);
//         content: '';
//         pointer-events: none;
//         backdrop-filter: saturate(180%) blur(20px);
//     }

//     .gn-nav {
//         position: relative;
//         top: 0;
//         right: 0;
//         left: 0;
//         transition: top 0.35s cubic-bezier(0.52, 0.16, 0.24, 1);
//         z-index: 888;
//         border-bottom: 1px solid $gray-100;
//         background: $white;
//         padding-top: map-get($spacers, 4);
//         padding-bottom: map-get($spacers, 4);

//         &.fixed {
//             position: fixed;
//         }
//     }

//     &.open {
//         &::before {
//             transition: opacity 0.56s cubic-bezier(0.52, 0.16, 0.24, 1), visibility 0s linear;
//             visibility: visible;
//             opacity: 1;
//             pointer-events: initial;
//         }
//     }

//     .gn-topnav {
//         background: $dark;
//         height: map-get($spacers, 3);
//     }

//     .gn-header-list {
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         margin: 0;
//         background: $white;
//         padding: 0;
//         // padding: map-get($spacers, 3) map-get($spacers, 0);
//         list-style: none;
//     }

//     .gn-header-logo {
//         img {
//             width: auto;
//             height: 1.875rem;
//         }
//     }

//     .gn-header-buttons {
//         > ul {
//             > li:last-of-type {
//                 display: flex;
//             }
//         }

//         ul {
//             display: flex;
//             margin: 0;
//             padding: 0;
//             list-style: none;
//         }
//     }

//     .gn-content {
//         margin: 0 auto;
//         // min-width: 320px;
//         padding: 0 ($grid-gutter-width / 2);
//         width: 100%;
//         list-style: none;

//         @include media-breakpoint-up(sm) {
//             max-width: map-get($container-max-widths, sm);
//         }

//         @include media-breakpoint-up(md) {
//             max-width: map-get($container-max-widths, md);
//         }

//         @include media-breakpoint-up(lg) {
//             max-width: map-get($container-max-widths, lg);
//         }

//         @include media-breakpoint-up(xl) {
//             max-width: map-get($container-max-widths, xl);
//         }
//     }

//     .gn-toggle-btn {
//         all: unset;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         cursor: pointer;
//         padding: map-get($spacers, 0) map-get($spacers, 3);
//         font-size: $h4-font-size;

//         &:hover,
//         &:focus,
//         &:active {
//             color: lighten($dark, 20%);
//         }
//     }

//     .gn-language-container {
//         position: relative;

//         &.open {
//             .gn-language-btn {
//                 background: $primary;
//             }

//             ul.gn-subnav {
//                 transition: height 0.35s cubic-bezier(0.52, 0.16, 0.24, 1), opacity 0s linear,
//                     visibility 0s linear;
//                 visibility: visible;
//                 opacity: 1;
//             }
//         }

//         .gn-language-btn {
//             display: block;
//             cursor: pointer;
//             padding: map-get($spacers, 3);

//             &::after {
//                 display: none;
//             }

//             &:hover,
//             &:focus,
//             &:active {
//                 img {
//                     opacity: 0.8;
//                 }
//             }

//             img {
//                 border-radius: 50%;
//                 width: map-get($spacers, 4);
//                 height: map-get($spacers, 4);
//             }
//         }

//         ul.gn-subnav {
//             position: absolute;
//             right: 0;
//             left: auto;
//             transition: height 0.25s cubic-bezier(0.52, 0.16, 0.24, 1), opacity 0.15s linear 0.2s,
//                 visibility 0s linear 0.2s;
//             visibility: hidden;
//             opacity: 0;
//             margin: 0;
//             background: $primary;
//             padding: 0;
//             padding-bottom: map-get($spacers, 3);
//             width: 170px;
//             overflow: hidden;
//             list-style: none;
//             color: color-yiq($primary);

//             li.gn-subnav-row {
//                 flex: 1;
//             }

//             ul {
//                 display: flex;
//                 flex-direction: column;

//                 li {
//                     white-space: nowrap;

//                     &.departments {
//                         border-bottom: 1px solid #575351;
//                         padding: map-get($spacers, 2) map-get($spacers, 3);
//                         color: rgba(color-yiq($primary), 0.8);
//                         font-family: $font-family-base;
//                         font-size: $font-size-sm;
//                     }

//                     a {
//                         display: flex;
//                         justify-content: space-between;
//                         background: $primary;
//                         padding: map-get($spacers, 2) map-get($spacers, 3);
//                         text-decoration: none;
//                         color: color-yiq($primary);

//                         &:hover,
//                         &:focus,
//                         &:active {
//                             background: lighten($primary, $emphasized-link-hover-darken-percentage);
//                         }
//                     }
//                 }

//                 img {
//                     border-radius: 50%;
//                     width: map-get($spacers, 4);
//                     height: map-get($spacers, 4);
//                 }
//             }
//         }
//     }
// }

// .gf-mobilnav {
//     @include font-size($h5-font-size);
//     position: fixed;
//     top: 0;

//     right: 0;
//     bottom: 0;
//     left: auto;
//     transform: translateX(100%);
//     transition: transform 0.56s cubic-bezier(0.52, 0.16, 0.24, 1);
//     z-index: 999;

//     box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
//     background: $white;
//     padding: map-get($spacers, 3) map-get($spacers, 4);
//     width: calc(100% - 1rem);
//     max-width: 520px;
//     // font-family: $font-family-secondary;
//     // font-weight: $font-weight-medium;
//     // text-transform: uppercase;
//     font-weight: bold;
//     will-change: transform;

//     &.open {
//         transform: translateX(0);
//     }

//     a {
//         text-decoration: none;
//         color: $dark;

//         &:hover,
//         &:focus,
//         &:active {
//             color: lighten($dark, 20%);
//         }

//         i {
//             color: $secondary;
//         }
//     }

//     hr {
//         margin-top: map-get($spacers, 4);
//         margin-bottom: map-get($spacers, 4);
//         border-color: $gray-100;
//         width: 100%;

//         &:first-of-type {
//             margin-top: map-get($spacers, 3);
//         }
//     }

//     .gn-content {
//         display: flex;
//         flex-direction: column;
//         padding: 0;
//         height: 100%;
//         max-height: 100%;
//     }

//     .scroll-container {
//         flex: 1 1 0;

//         overflow: -moz-scrollbars-none;
//         overflow-y: scroll;

//         -ms-overflow-style: none;
//         scrollbar-width: none;

//         &::-webkit-scrollbar {
//             display: none !important;
//             width: 0 !important;
//             height: 0 !important;
//         }

//         // background: red;
//     }

//     .mn-header {
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         margin-bottom: map-get($spacers, 2);

//         h5 {
//             margin-bottom: 0;
//             font-family: $font-family-base;
//             font-weight: bold;
//         }

//         .mn-closenav {
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             cursor: pointer;
//             width: map-get($spacers, 7);
//             height: map-get($spacers, 7);
//             color: $primary;
//             font-size: $h4-font-size;

//             &:hover,
//             &:focus,
//             &:active {
//                 color: lighten($primary, $emphasized-link-hover-darken-percentage);
//             }
//         }
//     }

//     .gn-searchbar {
//         position: relative;
//         z-index: 1;
//         background: $white;

//         font-family: $font-family-base;
//         font-weight: $font-weight-base;

//         .form-group {
//             position: relative;
//             margin-bottom: map-get($spacers, 0);

//             input {
//                 // webkit clear button
//                 &::-webkit-search-cancel-button {
//                     position: relative;
//                     right: map-get($spacers, 7);
//                 }
//                 // webkit clear button ends
//             }

//             i {
//                 display: flex;
//                 position: absolute;
//                 top: 0;
//                 right: 0;
//                 align-items: center;
//                 justify-content: center;
//                 cursor: pointer;
//                 padding: map-get($spacers, 3);
//                 height: 100%;
//                 color: $primary;
//                 font-size: 16px;

//                 &:hover,
//                 &:focus,
//                 &:active {
//                     color: darken($primary, $emphasized-link-hover-darken-percentage);
//                 }
//             }
//         }
//     }

//     .icon-container {
//         display: grid;
//         grid-template-columns: repeat(2, 1fr);
//         grid-gap: map-get($spacers, 3);
//         margin: 0px;
//         padding: 0px;
//         list-style: none;

//         .icon-link a {
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             justify-content: center;
//             transition: $transition-base;
//             color: $gray-900;

//             &:hover,
//             &:focus,
//             &:active {
//                 color: lighten($gray-900, $emphasized-link-hover-darken-percentage);

//                 i {
//                     color: lighten($primary, $emphasized-link-hover-darken-percentage);
//                 }
//             }

//             i {
//                 @include font-size($h4-font-size);
//                 transition: $transition-base;
//                 margin-bottom: map-get($spacers, 2);
//                 color: $primary;
//             }
//         }
//     }

//     .nav-container {
//     }

//     ul.gn-navlist {
//         display: flex;
//         flex-direction: column;
//         margin: 0;
//         padding: 0;
//         list-style: none;

//         a {
//             padding: map-get($spacers, 2);
//         }
//     }

//     li.gn-navlist-item {
//         > a {
//             display: flex;
//             align-items: flex-start;
//             padding: map-get($spacers, 2);
//         }
//     }

//     li.gn-navlist-item-has-subnav {
//         > a {
//             justify-content: space-between;

//             &::after {
//                 margin-left: map-get($spacers, 2);
//                 color: $primary;
//                 font-family: 'Font Awesome 5 Pro';
//                 content: '\f078';
//             }
//         }
//     }

//     li.gn-navlist-item-second-has-subnav {
//         > a {
//             justify-content: space-between;

//             &::after {
//                 margin-left: map-get($spacers, 2);
//                 color: $primary;
//                 font-family: 'Font Awesome 5 Pro';
//                 content: '\f078';
//             }
//         }
//     }

//     ul.gn-subnav {
//         transition: height 0.25s cubic-bezier(0.52, 0.16, 0.24, 1), opacity 0s linear 0.25s,
//             visibility 0s linear 0.25s;
//         // transition: height 0.25s cubic-bezier(0.52, 0.16, 0.24, 1), opacity 0s linear 0.25s,
//         //     visibility 0s linear 0.25s;
//         // transition: opacity 0s linear 0.25s, visibility 0s linear 0.25s;
//         visibility: hidden;
//         opacity: 0;
//         margin: 0;
//         padding: 0;
//         // height: 0;
//         overflow: hidden;
//         list-style: none;
//     }

//     ul.gn-second-subnav {
//         // transition: opacity 0.25s ease;
//         // transition: height 0.25s cubic-bezier(0.52, 0.16, 0.24, 1), opacity 0s linear 0.25s,
//         //     visibility 0s linear 0.25s;
//         // transition: opacity 0s linear 0.25s, visibility 0s linear 0.25s;
//         visibility: hidden;
//         // transition: all 0.25s ease;
//         opacity: 0;
//         margin: 0;
//         padding-left: map-get($spacers, 4);

//         overflow: hidden;
//         list-style: none;
//     }

//     // ul.gn-second-subnav {
//     //     transition: all 0.25s ease;
//     //     transition: height 0.25s cubic-bezier(0.52, 0.16, 0.24, 1), opacity 0s linear 0.25s,
//     //         visibility 0s linear 0.25s;
//     //     // visibility: hidden;
//     //     // opacity: 0;
//     //     margin: 0;
//     //     padding: 0;
//     //     // height: 0;
//     //     // overflow: hidden;
//     //     list-style: none;
//     // }

//     // li.gn-navlist-item-second-has-subnav {
//     // }

//     li.gn-subnav-row {
//     }

//     ul.gn-subnav-list {
//         // transition: opacity 0.3s cubic-bezier(0.52, 0.16, 0.24, 1) 0.25s;
//         opacity: 0;
//         margin: 0;
//         padding: 0;
//         padding-left: map-get($spacers, 4);
//         list-style: none;

//         a {
//             display: flex;
//             align-items: flex-start;
//             padding-top: map-get($spacers, 2);
//             padding-bottom: map-get($spacers, 2);

//             i {
//                 margin-right: map-get($spacers, 2);
//                 line-height: $line-height-base;
//             }
//         }
//     }
//     // SUBNAV OPEN
//     li.gn-navlist-item-has-subnav.open {
//         > a {
//             background: $dark;
//             color: color-yiq($dark);

//             &::after {
//                 transform: rotate(180deg);
//                 color: color-yiq($dark);
//             }
//         }

//         ul.gn-subnav {
//             transition: height 0.35s cubic-bezier(0.52, 0.16, 0.24, 1), opacity 0s linear,
//                 visibility 0s linear;
//             // transition: opacity 0s linear, visibility 0s linear;
//             visibility: visible;
//             opacity: 1;
//         }

//         ul.gn-subnav-list {
//             // transition: opacity 0.25s cubic-bezier(0.52, 0.16, 0.24, 1) 0.25s;
//             opacity: 1;
//         }

//         li.gn-navlist-item-second-has-subnav {
//             &.open {
//                 ul.gn-second-subnav {
//                     // transition: height 0.25s cubic-bezier(0.52, 0.16, 0.24, 1), opacity 0.15s linear,
//                     //     visibility 0s linear;
//                     // transition: opacity 0.25s cubic-bezier(0.52, 0.16, 0.24, 1) 0.25s;
//                     visibility: visible;
//                     opacity: 1;
//                 }
//             }
//         }
//     }

//     li.gn-navlist-item-second-has-subnav.open {
//         > a {
//             background: $dark;
//             color: color-yiq($dark);

//             &::after {
//                 transform: rotate(180deg);
//                 color: color-yiq($dark);
//             }
//         }
//     }
//     // SUBNAV OPEN ENDS
// }
