// // COLORS
// $globalnav-bg: $black;
// $globalnav-bg-open: $globalnav-bg;
// $globalnav-text-color: color-yiq($globalnav-bg);

// $globalnav-header-button-bg: transparent;
// $globalnav-header-button-text: color-yiq($globalnav-header-button-bg);
// $globalnav-header-button-bg-hover: transparent;
// $globalnav-header-button-text-hover: color-yiq(
//     $globalnav-header-button-bg-hover
// );

// $globalnav-header-button-cart-count-bg: $primary;
// $globalnav-header-button-cart-count-text: color-yiq(
//     $globalnav-header-button-cart-count-bg
// );

// // BREAKPOINT
// $globalnav-breakpoint: lg; // Defaults (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)

// // All the rest transitions in header/nav is based on this number
// $globalnav-open-transition-time: 0.36s;

// // NAVPADDINGS
// $globalnav-padding-y-mobile: map-get($spacers, 3);
// $globalnav-padding-x-mobile: map-get($spacers, 3);
// $globalnav-padding-y: map-get($spacers, 4);
// $globalnav-padding-x: map-get($spacers, 4);

// //LOGO
// $globalnav-logo-height-mobile: 3rem;
// $globalnav-logo-height: 4.688rem;

// // HEADER
// $globalnav-header-height-mobile: $globalnav-padding-y-mobile * 2 +
//     $globalnav-logo-height-mobile;
// $globalnav-header-height: $globalnav-padding-y * 2 + $globalnav-logo-height;

// // Header buttons
// $globalnav-header-button-padding-y-mobile: map-get($spacers, 2);
// $globalnav-header-button-padding-x-mobile: map-get($spacers, 2);
// $globalnav-header-button-padding-y: map-get($spacers, 1);
// $globalnav-header-button-padding-x: map-get($spacers, 1);

// $globalnav-header-button-font-size: $font-size-lg;
// $globalnav-header-button-line-height: $line-height-base;

// $globalnav-header-button-height-mobile: 100%;
// $globalnav-header-button-height: 100%;

// // NAVTOGGLE
// $globalnav-toggle-bar-height: 0.125rem; // default 0.125rem (2px)
// $globalnav-toggle-bar-width: 1.5rem; // default 1.25rem (20px)

// // MEGAMENU
// // Navlist
// $globalnav-navlist-item-padding-y-mobile: map-get($spacers, 3);
// $globalnav-navlist-item-padding-x-mobile: map-get($spacers, 3);
// $globalnav-navlist-item-padding-y: map-get($spacers, 3);
// $globalnav-navlist-item-padding-x: map-get($spacers, 3);

// $globalnav-navlist-item-font-size: $font-size-base;
// $globalnav-navlist-item-line-height: $line-height-base;

// $globalnav-navlist-height-mobile: auto;
// $globalnav-navlist-height: ($globalnav-navlist-item-padding-y * 2) +
//     ($globalnav-navlist-item-font-size * $globalnav-navlist-item-line-height);

// // Subnav
// $globalnav-subnav-padding-y-mobile: map-get($spacers, 0);
// $globalnav-subnav-padding-y: map-get($spacers, 0);

// // Subnav list
// // Columns per row in megamenu
// $globalnav-subnav-list-column-count: 4;

// // GLOBALNAV
// $globalnav-height-mobile: $globalnav-header-height-mobile;
// $globalnav-height: $globalnav-header-height + $globalnav-navlist-height;

// // ICON FONT
// $globalnav-dropdown-icon-font: "Font Awesome 5 Pro";
// $globalnav-dropdown-icon: "\f107"; //default '\f0d7' (caret-down)
// $globalnav-dropdown-icon-size: $small-font-size;

// // $globalnav-header-button-padding-y-mobile: map-get($spacers, 3);
// // $globalnav-header-button-padding-x-mobile: map-get($spacers, 3);
// // $globalnav-header-button-padding-y: map-get($spacers, 4);
// // $globalnav-header-button-padding-x: map-get($spacers, 4);

// // Header/Nav

// // $globalnav-breakpoint: lg; // Defaults (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)

// // $globalnav-padding-y-mobile: map-get($spacers, 3);
// // $globalnav-padding-x-mobile: map-get($spacers, 3);
// // $globalnav-padding-y: map-get($spacers, 4);
// // $globalnav-padding-x: map-get($spacers, 4);

// // $globalnav-link-padding-y: map-get($spacers, 3);
// // $globalnav-link-padding-x: map-get($spacers, 2);

// // $globalnav-toggle-bar-height: 0.125rem; // default 0.125rem (2px)
// // $globalnav-toggle-bar-width: 1.25rem; // default 1.25rem (20px)

// // $globalnav-logo-height-mobile: map-get($spacers, 3);
// // $globalnav-logo-height: map-get($spacers, 4);

// // $globalnav-header-height-mobile: $globalnav-padding-y-mobile * 2 + $globalnav-logo-height-mobile;
// // $globalnav-header-height: $globalnav-padding-y * 2 + $globalnav-logo-height;

// // $globalnav-navlist-item-padding-y-mobile: map-get($spacers, 2);
// // $globalnav-navlist-item-padding-x-mobile: map-get($spacers, 0);
// // $globalnav-navlist-item-padding-y: map-get($spacers, 2);
// // $globalnav-navlist-item-padding-x: map-get($spacers, 3);
// // $globalnav-navlist-item-font-size: 1rem;
// // $globalnav-navlist-item-line-height: 1.5;
// // $globalnav-navlist-height-mobile: auto;
// // $globalnav-navlist-height: ($globalnav-navlist-item-padding-y * 2) +
// //     ($globalnav-navlist-item-font-size * $globalnav-navlist-item-line-height);

// // $globalnav-height-mobile: $globalnav-header-height-mobile;
// // $globalnav-height: $globalnav-header-height + $globalnav-navlist-height;

// // // $globalnav-padding-y: map-get($spacers, 4);
// // // $globalnav-padding-x: map-get($spacers, 3);
// // // $globalnav-padding-y-mobile: map-get($spacers, 3);
// // // $globalnav-padding-x-mobile: map-get($spacers, 3);

// // // $globalnav-logo-height: map-get($spacers, 3);
// // // $globalnav-logo-height-mobile: map-get($spacers, 3);

// // // $globalnav-link-padding-y: map-get($spacers, 3);
// // // $globalnav-link-padding-x: map-get($spacers, 2);

// // // $globalnav-link-font-size: $font-size-base;
// // // $globalnav-link-line-height: $line-height-base;

// // // $globalnav-list-height: 4.188rem;

// // // $globalnav-toggle-bar-height: 0.125rem; // default 0.125rem (2px)
// // // $globalnav-toggle-bar-width: 1.25rem; // default 1.25rem (20px)

// // // $globalnav-submenu-min-width: 9.375rem; // default 9.375rem (150px)

// // $globalnav-dropdown-icon-font: 'Font Awesome 5 Pro';
// // $globalnav-dropdown-icon: '\f107'; //default '\f0d7' (caret-down)
// // $globalnav-dropdown-icon-size: $small-font-size;

// // // $globalnav-height: $globalnav-padding-y * 2 + $globalnav-logo-height + $globalnav-list-height;
// // // $globalnav-height-mobile: $globalnav-padding-y-mobile * 2 + $globalnav-logo-height-mobile +
// // //     $globalnav-list-height;

// // // $globalnav-link-height: $globalnav-height;
// // // $globalnav-link-height-mobile: $globalnav-height-mobile;

// // // All the rest transitions in header(nav is based on this number
// // $globalnav-open-transition-time: 0.36s;

// // // Header/Nav
// // $globalnav-bg: $primary;
// // $globalnav-color: color-yiq($globalnav-bg);

// // $globalnav-link-color: $globalnav-color;
// // $globalnav-link-color-hover: darken($globalnav-link-color, 7.5%);
// // $globalnav-link-background: $globalnav-bg;
// // $globalnav-link-background-hover: darken($globalnav-link-background, 7.5%);
