#gf-gdpr-cookie-bar {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background: rgba($gray-100, 0.9);
    padding-top: map-get($spacers, 5);
    padding-bottom: map-get($spacers, 5);
    width: 100%;
    color: color-yiq($gray-100);
    backdrop-filter: saturate(180%) blur(20px);

    .col,
    [class*='col-'] {
        display: flex;
        align-items: center;
        justify-content: center;

        @include media-breakpoint-up(sm) {
            justify-content: flex-start;
        }
    }

    p:last-of-type {
        margin-bottom: map-get($spacers, 0);
    }
}
