/* !--------------------------------------------------------------------
STYLES "Outdated Browser"
Version:    1.1.2 - 2015
author:     Burocratik
website:    http://www.burocratik.com
* @preserve
----------------------------------------------------------------------- */

.invalid_browser {
    > * {
        display: none !important;

        &#outdated {
            display: block !important;

            &.closed {
                display: none !important;
            }
        }
    }
}

#outdated {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999999;
    background: $body-bg;
    width: 100%;
    height: 100%;
    color: color-yiq($body-bg);

    .content {
        display: block;
        margin: 0 auto;
        padding: map-get($spacers, 5);
        width: 100%;
        max-width: 600px;
    }

    img {
        display: block;
        margin-bottom: map-get($spacers, 3);
        width: 100%;
        max-width: 200px;
        height: auto;
    }

    h1 {
        color: $secondary;
    }

    .btn {
        margin-top: map-get($spacers, 4);
    }

    #btnCloseUpdateBrowser {
        position: relative;
        top: 0;
        right: 0;
        color: $secondary;
        font-size: $font-size-sm;
    }
}
