.p-pagination-v1 {
    display: flex;

    a {
        @include font-size($h5-font-size);

        display: flex;
        align-items: center;
        justify-content: center;
        background: $primary;
        width: map-get($spacers, 7);
        height: map-get($spacers, 7);
        color: color-yiq($primary);
        font-family: $font-family-secondary;

        &:hover,
        &:focus,
        &:active {
            background: lighten($primary, $emphasized-link-hover-darken-percentage);
        }

        &.current {
            background: $light;
            color: $primary;
        }
    }

    i {
        font-family: "Font Awesome 5 Pro";
        font-size: $font-size-base;
        font-weight: normal;
    }
}
