@if $enable-woocommerce {
    .form-group {
        @include form-group-input();
    }

    .form-control {
        @include form-control();
    }

    .custom-control {
        @include custom-control();
    }
} @else {
    .form-group {
        label:not(.custom-control-label) {
            display: flex;
            transform: translate(
                $input-padding-x,
                calc(
                    #{$label-focus-font-size *
                        $line-height-base} +
                        #{$label-margin-bottom} +
                        #{$input-height-border} +
                        #{$input-padding-y}
                )
            );
            transition: $transition-base;
            margin: 0;
            padding-bottom: $label-margin-bottom;
            width: calc(100% - #{$input-padding-x});
            height: calc(#{$label-focus-font-size * $line-height-base} + #{$label-margin-bottom});
            line-height: $line-height-base;
            color: $label-color;
            font-size: $input-font-size;
            pointer-events: none;
        }

        input {
            &::placeholder {
                color: transparent;
            }

            &:disabled,
            &[readonly] {
                // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
                opacity: 0.4;
                background-color: $input-disabled-bg;
            }
        }

        .js-boostrap-select-label {
            transform: translate(0, 0) !important;
            transition: none !important;
            color: $label-focus-color !important;
            font-size: $label-focus-font-size !important;
        }

        &.is-invalid {
            label:not(.custom-control-label) {
                color: $form-feedback-invalid-color !important;
            }
        }

        &.is-valid {
            label:not(.custom-control-label) {
                color: $form-feedback-valid-color !important;
            }
        }
    }

    .form-group.js-input-active {
        label:not(.custom-control-label) {
            transform: translate(0, 0);
            transition: $transition-base;
            color: $label-focus-color;
            font-size: $label-focus-font-size;
        }
    }

    .custom-control {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        min-height: $custom-control-height;

        &.custom-control-inline {
            display: inline-flex !important;
        }

        .valid-feedback,
        .invalid-feedback {
            flex: 1;
            flex-basis: 100%;
            margin-top: 0;
        }

        .custom-control-label {
            cursor: pointer;
        }

        .custom-control-input:disabled + .custom-control-label {
            cursor: initial;
        }
    }

    .form-feedback-valid,
    .form-feedback-invalid {
        padding: map-get($spacers, 3);
        font-size: $form-feedback-font-size;
    }

    .form-feedback-valid {
        background-color: $form-feedback-valid-color;
        color: color-yiq($form-feedback-valid-color);
    }

    .form-feedback-invalid {
        background-color: $form-feedback-invalid-color;
        color: color-yiq($form-feedback-invalid-color);
    }

    .custom-control {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        min-height: $custom-control-height;

        &.custom-control-inline {
            display: inline-flex !important;
        }

        .valid-feedback,
        .invalid-feedback {
            flex: 1;
            flex-basis: 100%;
            margin-top: 0;
        }

        .custom-control-label {
            cursor: pointer;
        }

        .custom-control-input:disabled + .custom-control-label {
            cursor: initial;
        }
    }

    // style bootstrap-select so it follows the rest of bootstrap settings
    .bootstrap-select {
        .selected-changed {
            color: $input-color !important;
        }

        &.disabled {
            opacity: 0.4;
            background-color: $input-disabled-bg !important;
            cursor: not-allowed;
            pointer-events: none;

            .dropdown-toggle {
                opacity: 1;
                background-color: transparent !important;

                &::after {
                    color: $input-placeholder-color;
                }
            }
        }

        .dropdown-toggle {
            @include form-control-focus();

            outline: 0 !important;
            border: $input-border-width solid $input-border-color;
            background-color: $input-bg;
            padding: $input-padding-y $input-padding-x;
            height: $input-height;
            text-transform: initial;
            color: $input-placeholder-color;
            font-weight: $font-weight-normal;

            &::after {
                border: 0;
                color: $primary;
                font-family: "Font Awesome 5 Pro";
                font-size: $font-size-base;
                content: "\f078";
            }

            &:hover,
            &:focus,
            &:active {
                outline: 0 !important;
            }

            @if $enable-rounded {
                border-radius: $input-border-radius;
            }

            &:focus,
            &:active {
                color: $input-color !important;
            }

            &:hover {
                color: $input-placeholder-color !important;
            }
        }

        &.show {
            .dropdown-toggle {
                border-color: $input-focus-border-color;
                box-shadow: $input-btn-focus-box-shadow;
                color: $input-color !important;
            }
        }

        .dropdown-menu {
            margin-top: $input-btn-focus-width;
            border-color: $input-border-color !important;
            background-color: $input-bg !important;
            padding: map-get($spacers, 0);

            * {
                outline: 0;
            }

            a:hover,
            a:active,
            a:focus {
                background: $gray-100;
                color: color-yiq($gray-100);
            }

            .dropdown-item {
                padding: $input-padding-y $input-padding-x;
            }

            .active {
                background: $primary;
                color: color-yiq($primary);

                &::before {
                    border: 0 !important;
                }

                &:hover,
                &:active,
                &:focus {
                    background: lighten($primary, $emphasized-link-hover-darken-percentage);
                    color: color-yiq($primary);
                }
            }

            li:not(.active) + li {
                &::before {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    margin-right: $input-padding-x;
                    margin-left: $input-padding-x;
                    border-top: 1px solid $input-border-color;
                    content: "";
                }
            }

            li.active + li {
                &::before {
                    border: 0 !important;
                }
            }
        }
    }
}
