// .woocommerce-cart,
.builder_block_sections_woocommerce_cart {
    .woocommerce {
        @include make-col-ready();
        @include make-col(12);
    }

    .woocommerce-cart-form {
        table {
            // font-size: $h5-font-size;
            // font-weight: $font-weight-bold;
            @include font-size($h5-font-size);

            margin-bottom: $spacer;
            width: 100%;
            // font-family: $font-family-secondary;
            color: $table-color;
            // background-color: $table-bg; // Reset for nesting within parents with `background-color`.

            tr {
                display: flex;
                flex-direction: column;
                justify-content: center;

                @include media-breakpoint-up(md) {
                    flex-direction: row;
                    align-items: center;
                    justify-content: initial;
                }
            }

            th,
            td {
                border-top: $table-border-width solid $table-border-color;
                // padding: $table-cell-padding;
                padding: map-get($spacers, 1) map-get($spacers, 0);
                vertical-align: center;

                @include media-breakpoint-up(md) {
                    padding: map-get($spacers, 0) map-get($spacers, 0);
                }
            }

            thead th {
                border-bottom: (2 * $table-border-width) solid $table-border-color;
                // padding: 0;

                vertical-align: bottom;
                font-weight: $font-weight-medium;

                @include media-breakpoint-up(md) {
                    display: flex;
                    background: $dark;
                    // padding-top: map-get($spacers, 3);
                    // padding-bottom: map-get($spacers, 3);
                    // padding-bottom: map-get($spacers, 2);
                    padding-top: map-get($spacers, 3);
                    padding-bottom: map-get($spacers, 3);
                    color: color-yiq($dark);
                    // border-bottom: 1px solid $secondary;
                    // background: $secondary;
                }
            }

            tbody + tbody {
                // border-top: (2 * $table-border-width) solid $table-border-color;
            }

            tbody {
                tr {
                    margin-bottom: map-get($spacers, 4);
                    border-top: 1px solid $border-color;

                    @include media-breakpoint-up(md) {
                        margin-top: map-get($spacers, 4);
                        margin-bottom: 0;
                        border-top: 0;
                    }
                }

                tr:last-of-type,
                tr:first-of-type {
                    border-top: 0;

                    @include media-breakpoint-up(md) {
                        margin-top: map-get($spacers, 5);
                    }
                }
            }

            thead {
                display: none;

                @include media-breakpoint-up(md) {
                    display: block;
                }
            }
        }

        th.product-remove,
        th.product-thumbnail {
            display: none;
        }

        th.product-name {
            flex: 1;
            padding-left: 2.75rem;
        }

        td.product-name,
        td.product-price,
        td.product-quantity,
        td.product-subtotal {
            &::before {
                content: attr(data-title) ":";

                @include media-breakpoint-up(md) {
                    display: none;
                }
            }

            // .amount {
            //     display: flex;
            //     flex-direction: row-reverse;

            //     span {
            //         margin-left: map-get($spacers, 1);
            //     }
            // }
        }

        td.product-remove {
            // flex: 1 1 1;
            text-align: right;

            a {
                @extend .text-danger;

                line-height: 0;
                font-size: 0;

                &::before {
                    font-family: "Font Awesome 5 Pro";
                    font-size: $font-size-base;
                    content: "\f2ed";
                }
            }

            @include media-breakpoint-up(md) {
                text-align: left;
            }
        }

        td.product-thumbnail {
            // flex: 1 1 1;
            text-align: center;

            img {
                width: 100%;
                max-width: 100px;
                height: auto;
            }

            @include media-breakpoint-up(md) {
                margin-right: map-get($spacers, 4);
                margin-left: map-get($spacers, 4);
            }
        }

        td.product-name {
            display: flex;
            flex: 1;
            flex-wrap: wrap;

            a {
                flex: 1;
                text-align: right;
                color: $body-color;

                @include media-breakpoint-up(md) {
                    text-align: left;
                    font-size: $h5-font-size;
                }
            }

            .variation {
                display: flex;
                flex-basis: 100%;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 0;
                padding-top: map-get($spacers, 1);
                padding-bottom: map-get($spacers, 1);

                dt {
                    font-weight: $font-weight-normal;

                    @include media-breakpoint-up(md) {
                        display: none;
                    }
                }

                * {
                    margin-bottom: 0;
                }

                @include media-breakpoint-up(md) {
                    // color: $senary;
                }
            }
        }

        // td.product-name {
        //     // flex: 1;
        //     display: flex;
        //     justify-content: space-between;

        //     a {
        //         font-size: $h5-font-size;
        //         font-weight: $font-weight-bold;
        //         color: $body-color;
        //     }

        //     .variation {
        //         color: $senary;
        //     }

        //     dl {
        //         margin-bottom: 0;
        //     }

        //     dt {
        //         display: none;
        //     }

        //     dt,
        //     dd,
        //     p {
        //         margin-bottom: 0;
        //     }

        //     @include media-breakpoint-up(md) {
        //         flex: 1;
        //         flex-direction: column;
        //     }
        // }

        td.product-price {
            display: flex;
            justify-content: space-between;
            // width: 100px;
            @include media-breakpoint-up(md) {
                flex: 1 1 1;
                width: 100px;
            }

            @include media-breakpoint-up(lg) {
                width: 150px;
            }
        }

        td.product-quantity {
            display: flex;
            justify-content: space-between;

            @include media-breakpoint-up(md) {
                flex: 1 1 1;
                width: 100px;
            }

            @include media-breakpoint-up(lg) {
                width: 150px;
            }
        }

        td.product-subtotal {
            display: flex;
            justify-content: space-between;
        }

        .product-price,
        .product-quantity,
        .product-subtotal {
            @include media-breakpoint-up(md) {
                flex: 1 1 1;
                width: 100px;
            }

            @include media-breakpoint-up(lg) {
                width: 150px;
            }
        }
    }

    .quantity-wrapper {
        display: flex;
        align-items: center;

        // position: relative;
        // display: flex;
        // width: 62px;
        margin-bottom: 0;

        .screen-reader-text {
            position: absolute;
            margin: -1px;
            border: 0;
            padding: 0;
            width: 1px;
            height: 1px;
            overflow: hidden;
            word-wrap: normal !important;
            clip: rect(1px, 1px, 1px, 1px);
            -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
        }

        .adjust {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $dark;
            // background: $dark;
            border-radius: 50%;
            cursor: pointer;
            width: 16px;
            height: 16px;
            // color: color-yiq($dark);
            color: $dark;
            font-size: 8px;

            &:hover {
                border-color: darken($dark, 7.5%);
                background-color: darken($dark, 7.5%);
                color: color-yiq($dark);
            }
        }

        input {
            border: 0;
            // padding: map-get($spacers, 2) map-get($spacers, 4)
            //     map-get($spacers, 2) map-get($spacers, 3);
            background: $body-bg;
            padding: 0;
            padding-right: map-get($spacers, 2);
            padding-left: map-get($spacers, 2);
            width: 50px;
            text-align: center;
            line-height: 1;

            &:focus {
                outline: 0;
            }
        }

        // Hide Arrows From Input Number

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type="number"] {
            -moz-appearance: textfield;
        }
    }

    .actions {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        button {
            @extend .btn, .btn-outline-dark;

            margin-top: map-get($spacers, 2);
            max-width: 100%;
            white-space: nowrap;
            word-wrap: none;

            @include media-breakpoint-up(md) {
                margin-top: 0;
                margin-left: map-get($spacers, 3);
            }
        }

        .coupon {
            display: flex;
            flex-direction: column;

            label {
                display: none;
            }

            input {
                @include form-control();
                // width: 368px !important;
                max-width: 100% !important;
                height: 100% !important;
                // Placeholder
                &::placeholder {
                    color: $label-color !important;
                }

                @include media-breakpoint-up(lg) {
                    width: 368px !important;
                }
            }

            button {
                @include media-breakpoint-up(md) {
                    margin-left: map-get($spacers, 4);
                }
            }

            @include media-breakpoint-up(md) {
                flex-direction: row;
            }
        }

        @include media-breakpoint-up(md) {
            flex-direction: row;
            border-top: 1px solid $gray-100 !important;
            padding-top: map-get($spacers, 5) !important;
        }
    }

    .cart-collaterals {
        @include make-row();

        justify-content: flex-end;
    }

    .cart_totals {
        @include make-col-ready();
        @include make-col(12);

        margin-top: map-get($spacers, 7);

        h2 {
            font-size: $h3-font-size;
        }

        table {
            @extend .table, .table-striped;
            // width: 100%;
            // color: $table-color;
            margin-bottom: map-get($spacers, 4);

            th {
                font-weight: $font-weight-base;
            }

            td {
                text-align: right;

                ul {
                    list-style: none;
                }
            }

            .order-total {
                background: $body-bg;
                color: $dark;
                font-size: $h4-font-size;

                th,
                td {
                    padding: map-get($spacers, 4) map-get($spacers, 0) map-get($spacers, 0);
                    // font-weight: $font-weight-base;

                    font-family: $font-family-base;
                    font-weight: bold;
                }
            }
        }

        .checkout-button {
            @extend .btn, .btn-success, .btn-lg;

            display: block;
            margin-top: map-get($spacers, 3);
        }

        @include media-breakpoint-up(lg) {
            @include make-col(6);
        }
    }

    #shipping_method {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: block;
            position: relative;
            margin-bottom: map-get($spacers, 2);
            padding-left: map-get($spacers, 5);
            min-height: (1rem * $line-height-base);

            label::before {
                border: $custom-control-indicator-border-width solid
                    $custom-control-indicator-border-color;
                border-radius: $custom-radio-indicator-border-radius;
            }

            input {
                &:checked ~ label {
                    &::before {
                        @include gradient-bg($custom-control-indicator-checked-bg);
                    }

                    &::after {
                        background-image: $custom-radio-indicator-icon-checked;
                    }
                }

                &:disabled {
                    &:checked ~ label::before {
                        background-color: $custom-control-indicator-checked-disabled-bg;
                    }
                }

                &[type="hidden"] {
                    ~ label {
                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }

        input {
            position: absolute;
            opacity: 0;
            z-index: -1; // Put the input behind the label so it doesn't overlay text

            &:checked ~ label::before {
                @include gradient-bg($custom-control-indicator-checked-bg);
                @include box-shadow($custom-control-indicator-checked-box-shadow);

                color: $custom-control-indicator-checked-color;
            }

            &:focus ~ label::before {
                // the mixin is not used here to make sure there is feedback
                box-shadow: $custom-control-indicator-focus-box-shadow;
            }

            &:active ~ label::before {
                @include box-shadow($custom-control-indicator-active-box-shadow);

                background-color: $custom-control-indicator-active-bg;
                color: $custom-control-indicator-active-color;
            }

            &:disabled {
                ~ label {
                    color: $custom-control-label-disabled-color;

                    &::before {
                        border: $custom-control-indicator-border-width solid
                            $custom-control-indicator-border-disabled-color;
                        background-color: $custom-control-indicator-disabled-bg;
                    }
                }
            }
        }

        label {
            margin-bottom: 0;
            cursor: pointer;

            // Background-color and (when enabled) gradient
            &::before {
                // border-color: $dark !important;

                @include box-shadow($custom-control-indicator-box-shadow);

                display: block;
                position: absolute;
                top: (($line-height-base - $custom-control-indicator-size) / 2);
                left: 0;
                background-color: $custom-control-indicator-bg;
                width: $custom-control-indicator-size;
                height: $custom-control-indicator-size;
                content: "";
                pointer-events: none;
                user-select: none;
            }

            // Foreground (icon)
            &::after {
                display: block;
                position: absolute;
                top: (($line-height-base - $custom-control-indicator-size) / 2);
                left: 0;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: $custom-control-indicator-bg-size;
                width: $custom-control-indicator-size;
                height: $custom-control-indicator-size;
                content: "";
                // border-color: $dark !important;
            }

            img {
                margin-right: map-get($spacers, 2);
                margin-bottom: map-get($spacers, 0);
                padding-top: map-get($spacers, 0);
            }
        }
    }
}
