.builder_block_sections_woocommerce_checkout {
    display: flex;

    .shop_table {
        width: 100%;
    }

    .screen-reader-text {
        clip: auto !important;
        clip-path: unset !important;
    }

    .woocommerce {
        @include make-col-ready();
        @include make-col(12);

        padding: 0 !important;

        .select2 {
            display: none !important;
        }

        .woocommerce-info {
            @include make-col-ready();
            @include make-col(12);
        }

        .woocommerce-form-login__rememberme {
            display: block;
            position: relative;
            margin-right: map-get($spacers, 3);
            padding-left: 2rem;
            width: 100%;
            min-height: $font-size-base * $line-height-base;

            span::before {
                @include border-radius($custom-checkbox-indicator-border-radius);
            }

            input:checked ~ span {
                &::after {
                    background-image: $custom-checkbox-indicator-icon-checked;
                }
            }

            input:indeterminate ~ span {
                &::before {
                    @include gradient-bg($custom-checkbox-indicator-indeterminate-bg);
                    @include box-shadow($custom-checkbox-indicator-indeterminate-box-shadow);

                    border-color: $custom-checkbox-indicator-indeterminate-border-color;
                }

                &::after {
                    background-image: $custom-checkbox-indicator-icon-indeterminate;
                }
            }

            input:disabled {
                &:checked ~ span::before {
                    background-color: $custom-control-indicator-checked-disabled-bg;
                }

                &:indeterminate ~ span::before {
                    background-color: $custom-control-indicator-checked-disabled-bg;
                }
            }

            input {
                position: absolute;
                opacity: 0;
                z-index: -1; // Put the input behind the label so it doesn't overlay text

                &:checked ~ span::before {
                    @include gradient-bg($custom-control-indicator-checked-bg);
                    @include box-shadow($custom-control-indicator-checked-box-shadow);

                    border-color: $custom-control-indicator-checked-border-color;
                    color: $custom-control-indicator-checked-color;
                }

                &:focus ~ span::before {
                    // the mixin is not used here to make sure there is feedback
                    @if $enable-shadows {
                        box-shadow: $input-box-shadow, $input-focus-box-shadow;
                    } @else {
                        box-shadow: $custom-control-indicator-focus-box-shadow;
                    }
                }

                &:focus:not(:checked) ~ span::before {
                    border-color: $custom-control-indicator-focus-border-color;
                }

                &:not(:disabled):active ~ span::before {
                    @include box-shadow($custom-control-indicator-active-box-shadow);

                    border-color: $custom-control-indicator-active-border-color;
                    background-color: $custom-control-indicator-active-bg;
                    color: $custom-control-indicator-active-color;
                }

                &:disabled {
                    ~ span {
                        color: $custom-control-label-disabled-color;

                        &::before {
                            background-color: $custom-control-indicator-disabled-bg;
                        }
                    }
                }
            }

            span {
                position: relative;
                margin-bottom: 0;
                vertical-align: top;

                // Background-color and (when enabled) gradient
                &::before {
                    @include box-shadow($custom-control-indicator-box-shadow);

                    display: block;
                    position: absolute;
                    top: 50%;
                    left: -($custom-control-gutter + $custom-control-indicator-size);
                    transform: translateY(-50%);
                    border: $custom-control-indicator-border-color solid
                        $custom-control-indicator-border-width;
                    background-color: $custom-control-indicator-bg;
                    width: $custom-control-indicator-size;
                    height: $custom-control-indicator-size;
                    content: "";
                    pointer-events: none;
                }

                // Foreground (icon)
                &::after {
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: -($custom-control-gutter + $custom-control-indicator-size);
                    transform: translateY(-50%);
                    background: no-repeat 50% / #{$custom-control-indicator-bg-size};
                    width: $custom-control-indicator-size;
                    height: $custom-control-indicator-size;
                    content: "";
                }
            }
        }

        .woocommerce-form-coupon-toggle,
        .woocommerce-form-login-toggle {
            @include make-col-ready();
            @include make-col(12);

            margin-bottom: map-get($spacers, 3) !important;
            background: $secondary !important;
            padding-right: map-get($spacers, 0) !important;
            padding-left: map-get($spacers, 0) !important;

            > .woocommerce-info {
                position: relative;
                margin-bottom: map-get($spacers, 0);

                .showcoupon {
                    display: flex;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    align-items: center;
                    justify-content: flex-end;
                    padding-right: map-get($spacers, 3);
                    text-align: right;
                }
            }
        }

        form.woocommerce-form-coupon {
            position: relative;
            top: -(map-get($spacers, 3));
            margin-bottom: map-get($spacers, 0);
            background-color: $gray-100;
            padding: map-get($spacers, 3);

            .form-row {
                @include form-group-input();

                margin-top: map-get($spacers, 0);
                margin-bottom: map-get($spacers, 0);
                padding-left: 4px;
            }

            input {
                @include form-control();

                max-width: 381px;
            }

            button {
                max-width: 381px;
            }
        }

        h3 {
            margin-bottom: map-get($spacers, 5);
            font-size: $h4-font-size;
        }

        form.woocommerce-checkout {
            margin-right: -16px;
            margin-left: -16px;

            .bootstrap-select {
                width: 100%;
            }
        }

        #customer_details {
            @extend .px-0;

            @include make-col-ready();

            float: left;

            .col-1,
            .col-2 {
                @include make-col-ready();
                @include make-col(12);
            }

            > * + * {
                margin-top: map-get($spacers, 6);
            }

            .create-account {
                label {
                    display: block;
                    position: relative;
                    padding-left: 2rem;
                    min-height: $font-size-base * $line-height-base;

                    span::before {
                        @include border-radius($custom-checkbox-indicator-border-radius);

                        border: $custom-control-indicator-border-width solid
                            $custom-control-indicator-border-color;
                    }

                    input:checked ~ span {
                        &::after {
                            background-image: $custom-checkbox-indicator-icon-checked;
                        }
                    }

                    input:indeterminate ~ span {
                        &::before {
                            @include gradient-bg($custom-checkbox-indicator-indeterminate-bg);
                            @include box-shadow(
                                $custom-checkbox-indicator-indeterminate-box-shadow
                            );

                            border-color: $custom-checkbox-indicator-indeterminate-border-color;
                        }

                        &::after {
                            background-image: $custom-checkbox-indicator-icon-indeterminate;
                        }
                    }

                    input:disabled {
                        &:checked ~ span::before {
                            background-color: $custom-control-indicator-checked-disabled-bg;
                        }

                        &:indeterminate ~ span::before {
                            border: $custom-control-indicator-border-width solid
                                $custom-control-indicator-border-disabled-color;
                            background-color: $custom-control-indicator-checked-disabled-bg;
                        }
                    }
                }

                input {
                    position: absolute;
                    opacity: 0;
                    z-index: -1; // Put the input behind the label so it doesn't overlay text

                    &:checked ~ span::before {
                        @include gradient-bg($custom-control-indicator-checked-bg);
                        @include box-shadow($custom-control-indicator-checked-box-shadow);

                        border-color: $custom-control-indicator-checked-border-color;
                        color: $custom-control-indicator-checked-color;
                    }

                    &:focus ~ span::before {
                        // the mixin is not used here to make sure there is feedback
                        @if $enable-shadows {
                            box-shadow: $input-box-shadow, $input-focus-box-shadow;
                        } @else {
                            box-shadow: $custom-control-indicator-focus-box-shadow;
                        }
                    }

                    &:focus:not(:checked) ~ span::before {
                        border-color: $custom-control-indicator-focus-border-color;
                    }

                    &:not(:disabled):active ~ span::before {
                        @include box-shadow($custom-control-indicator-active-box-shadow);

                        border-color: $custom-control-indicator-active-border-color;
                        background-color: $custom-control-indicator-active-bg;
                        color: $custom-control-indicator-active-color;
                    }

                    &:disabled {
                        ~ span {
                            color: $custom-control-label-disabled-color;

                            &::before {
                                background-color: $custom-control-indicator-disabled-bg;
                            }
                        }
                    }
                }

                span {
                    position: relative;
                    margin-bottom: 0;
                    vertical-align: top;

                    // Background-color and (when enabled) gradient
                    &::before {
                        @include box-shadow($custom-control-indicator-box-shadow);

                        display: block;
                        position: absolute;
                        top: 50%;
                        left: -($custom-control-gutter + $custom-control-indicator-size);
                        transform: translateY(-50%);
                        border: $custom-control-indicator-border-color solid
                            $custom-control-indicator-border-width;
                        background-color: $custom-control-indicator-bg;
                        width: $custom-control-indicator-size;
                        height: $custom-control-indicator-size;
                        content: "";
                        pointer-events: none;
                    }

                    // Foreground (icon)
                    &::after {
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: -($custom-control-gutter + $custom-control-indicator-size);
                        transform: translateY(-50%);
                        background: no-repeat 50% / #{$custom-control-indicator-bg-size};
                        width: $custom-control-indicator-size;
                        height: $custom-control-indicator-size;
                        content: "";
                    }
                }
            }

            #ship-to-different-address {
                label {
                    display: block;
                    position: relative;
                    padding-left: 0;
                    min-height: (1rem * $line-height-base);

                    span::before {
                        @include border-radius($custom-checkbox-indicator-border-radius);

                        border: $custom-control-indicator-border-width solid
                            $custom-control-indicator-border-color;
                    }

                    input:checked ~ span {
                        &::before {
                            @include gradient-bg($custom-control-indicator-checked-bg);
                        }

                        &::after {
                            background-image: $custom-checkbox-indicator-icon-checked;
                        }
                    }

                    input:indeterminate ~ span {
                        &::before {
                            @include gradient-bg($custom-checkbox-indicator-indeterminate-bg);
                            @include box-shadow(
                                $custom-checkbox-indicator-indeterminate-box-shadow
                            );
                        }

                        &::after {
                            background-image: $custom-checkbox-indicator-icon-indeterminate;
                        }
                    }

                    input:disabled {
                        &:checked ~ span::before {
                            background-color: $custom-control-indicator-checked-disabled-bg;
                        }

                        &:indeterminate ~ span::before {
                            border: $custom-control-indicator-border-width solid
                                $custom-control-indicator-border-disabled-color;
                            background-color: $custom-control-indicator-checked-disabled-bg;
                        }
                    }
                }

                input {
                    position: absolute;
                    opacity: 0;
                    z-index: -1; // Put the input behind the label so it doesn't overlay text

                    &:checked ~ span::before {
                        @include gradient-bg($custom-control-indicator-checked-bg);
                        @include box-shadow($custom-control-indicator-checked-box-shadow);

                        color: $custom-control-indicator-checked-color;
                    }

                    &:focus ~ span::before {
                        // the mixin is not used here to make sure there is feedback
                        box-shadow: $custom-control-indicator-focus-box-shadow;
                    }

                    &:active ~ span::before {
                        @include box-shadow($custom-control-indicator-active-box-shadow);

                        background-color: $custom-control-indicator-active-bg;
                        color: $custom-control-indicator-active-color;
                    }

                    &:disabled {
                        ~ span {
                            color: $custom-control-label-disabled-color;

                            &::before {
                                background-color: $custom-control-indicator-disabled-bg;
                            }
                        }
                    }
                }

                span {
                    margin-bottom: 0;

                    // Background-color and (when enabled) gradient
                    &::before {
                        @include box-shadow($custom-control-indicator-box-shadow);

                        display: block;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        left: auto;
                        transform: translateY(-50%);
                        background-color: $custom-control-indicator-bg;
                        width: $custom-control-indicator-size;
                        height: $custom-control-indicator-size;
                        content: "";
                        pointer-events: none;
                        user-select: none;
                    }

                    // Foreground (icon)
                    &::after {
                        display: block;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        left: auto;
                        transform: translateY(-50%);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: $custom-control-indicator-bg-size;
                        width: $custom-control-indicator-size;
                        height: $custom-control-indicator-size;
                        content: "";
                    }
                }
            }

            @include media-breakpoint-up(lg) {
                @include make-col(6);
            }
        }

        #order_review_heading {
            @include make-col-ready();

            float: right;

            @include media-breakpoint-up(lg) {
                @include make-col(6);
            }
        }

        #order_review {
            @include make-col-ready();

            float: right;

            table {
                @extend .table, .table-striped;

                td,
                th {
                    padding: map-get($spacers, 2) map-get($spacers, 3);
                }

                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }

                thead {
                    // border-bottom: 1px solid $secondary;
                    background: $dark;
                    color: color-yiq($dark);

                    th {
                        padding: map-get($spacers, 3);
                        // font-family: $font-family-secondary;
                        font-weight: $font-weight-medium;
                    }

                    th:last-of-type {
                        text-align: right;
                    }
                }

                tbody {
                    // ADD PADDING HACK
                    &::after {
                        display: block;
                        height: map-get($spacers, 4);
                        content: "";
                    }
                    // ADD PADDING HACK END

                    td {
                        strong {
                            font-weight: $font-weight-base;
                        }
                    }

                    td:last-of-type {
                        text-align: right;
                    }
                }

                tfoot {
                    // ADD PADDING HACK
                    &::before {
                        display: block;
                        height: map-get($spacers, 4);
                        content: "";
                    }

                    th {
                        font-weight: $font-weight-base;
                    }

                    tr:nth-of-type(#{$table-striped-order}) {
                        background-color: $table-accent-bg;
                    }
                    // ADD PADDING HACK END

                    tr:last-of-type {
                        background-color: none !important;
                    }

                    td:last-of-type {
                        text-align: right;
                    }

                    .order-total {
                        background: transparent !important;
                        line-height: $headings-line-height;
                        font-size: $h4-font-size;

                        th,
                        td {
                            padding: map-get($spacers, 4) map-get($spacers, 0);
                            font-family: $font-family-base;
                            font-weight: $font-weight-bold;
                        }
                    }
                }
            }

            #payment {
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    li {
                        display: block;
                        position: relative;
                        margin-bottom: map-get($spacers, 2);
                        padding-left: map-get($spacers, 5);
                        min-height: (1rem * $line-height-base);

                        label::before {
                            border: $custom-control-indicator-border-width solid
                                $custom-control-indicator-border-color;
                            border-radius: $custom-radio-indicator-border-radius;
                        }

                        input:checked ~ label {
                            &::before {
                                @include gradient-bg($custom-control-indicator-checked-bg);
                            }

                            &::after {
                                background-image: $custom-radio-indicator-icon-checked;
                            }
                        }

                        input:disabled {
                            &:checked ~ label::before {
                                background-color: $custom-control-indicator-checked-disabled-bg;
                            }
                        }
                    }

                    input {
                        position: absolute;
                        opacity: 0;
                        z-index: -1; // Put the input behind the label so it doesn't overlay text

                        &:checked ~ label::before {
                            @include gradient-bg($custom-control-indicator-checked-bg);
                            @include box-shadow($custom-control-indicator-checked-box-shadow);

                            color: $custom-control-indicator-checked-color;
                        }

                        &:focus ~ label::before {
                            // the mixin is not used here to make sure there is feedback
                            box-shadow: $custom-control-indicator-focus-box-shadow;
                        }

                        &:active ~ label::before {
                            @include box-shadow($custom-control-indicator-active-box-shadow);

                            background-color: $custom-control-indicator-active-bg;
                            color: $custom-control-indicator-active-color;
                        }

                        &:disabled {
                            ~ label {
                                color: $custom-control-label-disabled-color;

                                &::before {
                                    border: $custom-control-indicator-border-width solid
                                        $custom-control-indicator-border-disabled-color;
                                    background-color: $custom-control-indicator-disabled-bg;
                                }
                            }
                        }
                    }

                    label {
                        margin-bottom: 0;

                        // Background-color and (when enabled) gradient
                        &::before {
                            // border-color: $primary !important;

                            @include box-shadow($custom-control-indicator-box-shadow);

                            display: block;
                            position: absolute;
                            top: (($line-height-base - $custom-control-indicator-size) / 2);
                            left: 0;
                            background-color: $custom-control-indicator-bg;
                            width: $custom-control-indicator-size;
                            height: $custom-control-indicator-size;
                            content: "";
                            pointer-events: none;
                            user-select: none;
                        }

                        // Foreground (icon)
                        &::after {
                            display: block;
                            position: absolute;
                            top: (($line-height-base - $custom-control-indicator-size) / 2);
                            left: 0;
                            background-position: center center;
                            background-repeat: no-repeat;
                            background-size: $custom-control-indicator-bg-size;
                            width: $custom-control-indicator-size;
                            height: $custom-control-indicator-size;
                            content: "";
                            // border-color: $primary !important;
                        }

                        img {
                            margin-right: map-get($spacers, 2);
                            margin-bottom: map-get($spacers, 0);
                            padding-top: map-get($spacers, 0);
                        }
                    }

                    .payment_box {
                        margin-top: map-get($spacers, 1);
                        color: $gray-600;
                    }
                }
            }

            .product-name {
                .variation {
                    display: none;
                }
            }

            @include media-breakpoint-up(lg) {
                @include make-col(6);
            }
        }

        .form-row {
            // @extend .mx-0;
            margin-bottom: map-get($spacers, 3);

            .button {
                @extend .btn, .btn-success;

                display: block;
                margin-top: map-get($spacers, 4);
                width: 100%;
            }
        }

        .place-order,
        .validate-required {
            margin-right: map-get($spacers, 0);
            margin-left: map-get($spacers, 0);
        }

        .woocommerce-account-fields {
            margin-top: map-get($spacers, 3);
        }

        .woocommerce-terms-and-conditions-wrapper {
            margin-top: map-get($spacers, 6);
            color: $gray-600;

            .woocommerce-form__label-for-checkbox {
                display: block;
                position: relative;
                padding-left: map-get($spacers, 5);
                min-height: (1rem * $line-height-base);

                span:not(.required)::before {
                    @include border-radius($custom-checkbox-indicator-border-radius);

                    border: $custom-control-indicator-border-width solid
                        $custom-control-indicator-border-color;
                }

                input:checked ~ span:not(.required) {
                    &::before {
                        @include gradient-bg($custom-control-indicator-checked-bg);
                    }

                    &::after {
                        background-image: $custom-checkbox-indicator-icon-checked;
                    }
                }

                input:indeterminate ~ span:not(.required) {
                    &::before {
                        @include gradient-bg($custom-checkbox-indicator-indeterminate-bg);
                        @include box-shadow($custom-checkbox-indicator-indeterminate-box-shadow);
                    }

                    &::after {
                        background-image: $custom-checkbox-indicator-icon-indeterminate;
                    }
                }

                input:disabled {
                    &:checked ~ span:not(.required)::before {
                        background-color: $custom-control-indicator-checked-disabled-bg;
                    }

                    &:indeterminate ~ span:not(.required)::before {
                        background-color: $custom-control-indicator-checked-disabled-bg;
                    }
                }

                input {
                    position: absolute;
                    opacity: 0;
                    z-index: -1; // Put the input behind the label so it doesn't overlay text

                    &:checked ~ span:not(.required)::before {
                        @include gradient-bg($custom-control-indicator-checked-bg);
                        @include box-shadow($custom-control-indicator-checked-box-shadow);

                        color: $custom-control-indicator-checked-color;
                    }

                    &:focus ~ span:not(.required)::before {
                        // the mixin is not used here to make sure there is feedback
                        box-shadow: $custom-control-indicator-focus-box-shadow;
                    }

                    &:active ~ span:not(.required)::before {
                        @include box-shadow($custom-control-indicator-active-box-shadow);

                        background-color: $custom-control-indicator-active-bg;
                        color: $custom-control-indicator-active-color;
                    }

                    &:disabled {
                        ~ span:not(.required) {
                            color: $custom-control-label-disabled-color;

                            &::before {
                                border: $custom-control-indicator-border-width solid
                                    $custom-control-indicator-border-disabled-color;
                                background-color: $custom-control-indicator-disabled-bg;
                            }
                        }
                    }
                }

                span:not(.required) {
                    margin-bottom: 0;
                    cursor: pointer;

                    // Background-color and (when enabled) gradient
                    &::before {
                        @include box-shadow($custom-control-indicator-box-shadow);

                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        // border-color: $primary !important;
                        transform: translateY(-50%);
                        border: $custom-control-indicator-border-width solid
                            $custom-control-indicator-border-color;
                        background-color: $custom-control-indicator-bg;
                        width: $custom-control-indicator-size;
                        height: $custom-control-indicator-size;
                        content: "";
                        pointer-events: none;
                        user-select: none;
                    }

                    // Foreground (icon)
                    &::after {
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        // border-color: $primary !important;
                        transform: translateY(-50%);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: $custom-control-indicator-bg-size;
                        width: $custom-control-indicator-size;
                        height: $custom-control-indicator-size;
                        content: "";
                    }
                }
            }
        }

        #wc-stripe-cc-form {
            .form-row {
                flex-direction: column;
            }
        }

        #shipping_method {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                display: block;
                position: relative;
                margin-bottom: map-get($spacers, 2);
                padding-left: map-get($spacers, 5);
                min-height: (1rem * $line-height-base);

                label::before {
                    border: $custom-control-indicator-border-width solid
                        $custom-control-indicator-border-color;
                    border-radius: $custom-radio-indicator-border-radius;
                }

                input:checked ~ label {
                    &::before {
                        @include gradient-bg($custom-control-indicator-checked-bg);
                    }

                    &::after {
                        background-image: $custom-radio-indicator-icon-checked;
                    }
                }

                input:disabled {
                    &:checked ~ label::before {
                        background-color: $custom-control-indicator-checked-disabled-bg;
                    }
                }
            }

            input {
                position: absolute;
                opacity: 0;
                z-index: -1; // Put the input behind the label so it doesn't overlay text

                &:checked ~ label::before {
                    @include gradient-bg($custom-control-indicator-checked-bg);
                    @include box-shadow($custom-control-indicator-checked-box-shadow);

                    color: $custom-control-indicator-checked-color;
                }

                &:focus ~ label::before {
                    // the mixin is not used here to make sure there is feedback
                    box-shadow: $custom-control-indicator-focus-box-shadow;
                }

                &:active ~ label::before {
                    @include box-shadow($custom-control-indicator-active-box-shadow);

                    background-color: $custom-control-indicator-active-bg;
                    color: $custom-control-indicator-active-color;
                }

                &:disabled {
                    ~ label {
                        color: $custom-control-label-disabled-color;

                        &::before {
                            border: $custom-control-indicator-border-width solid
                                $custom-control-indicator-border-disabled-color;
                            background-color: $custom-control-indicator-disabled-bg;
                        }
                    }
                }

                &[type="hidden"] {
                    ~ label {
                        &::before {
                            display: none;
                        }
                    }
                }
            }

            label {
                margin-bottom: 0;
                cursor: pointer;

                // Background-color and (when enabled) gradient
                &::before {
                    // border-color: $primary !important;

                    @include box-shadow($custom-control-indicator-box-shadow);

                    display: block;
                    position: absolute;
                    top: (($line-height-base - $custom-control-indicator-size) / 2);
                    left: 0;
                    background-color: $custom-control-indicator-bg;
                    width: $custom-control-indicator-size;
                    height: $custom-control-indicator-size;
                    content: "";
                    pointer-events: none;
                    user-select: none;
                }

                // Foreground (icon)
                &::after {
                    display: block;
                    position: absolute;
                    top: (($line-height-base - $custom-control-indicator-size) / 2);
                    left: 0;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: $custom-control-indicator-bg-size;
                    width: $custom-control-indicator-size;
                    height: $custom-control-indicator-size;
                    content: "";
                    // border-color: $primary !important;
                }

                img {
                    margin-right: map-get($spacers, 2);
                    margin-bottom: map-get($spacers, 0);
                    padding-top: map-get($spacers, 0);
                }
            }
        }
    }
}
