#kco-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 1rem !important;

    #kco-order-review {
        flex: 1;
        width: 100%;
        padding: 0;

        table {
            font-size: $h5-font-size;
            font-weight: $font-weight-bold;
            line-height: $headings-line-height;

            td,
            th {
                padding-right: map-get($spacers, 0);
                padding-left: map-get($spacers, 0);
            }

            thead tr {
                margin-bottom: map-get($spacers, 4);
                border-bottom: 1px solid $secondary;

                th {
                    padding-bottom: map-get($spacers, 2);
                }
            }

            tbody {
                tr:first-of-type {
                    td {
                        padding-top: map-get($spacers, 5);
                    }
                }
            }

            tfoot {
                tr:first-of-type {
                    th,
                    td {
                        padding-top: map-get($spacers, 5);
                    }
                }

                td {
                    text-align: right;
                }

                .order-total {
                    font-size: $h4-font-size;
                    color: $primary;
                }

                #shipping_method {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    padding: 0;
                    margin: 0;
                    list-style: none;

                    li {
                        position: relative;
                        display: block;
                        min-height: (1rem * $line-height-base);
                        padding-left: map-get($spacers, 5);

                        margin-bottom: map-get($spacers, 2);

                        label::before {
                            border: $custom-control-indicator-border-width solid
                                $custom-control-indicator-border-color;
                            border-radius: $custom-radio-indicator-border-radius;
                        }

                        input:checked ~ label {
                            &::before {
                                @include gradient-bg(
                                    $custom-control-indicator-checked-bg
                                );
                            }

                            &::after {
                                background-image: $custom-radio-indicator-icon-checked;
                            }
                        }

                        input:disabled {
                            &:checked ~ label::before {
                                background-color: $custom-control-indicator-checked-disabled-bg;
                            }
                        }
                    }

                    input {
                        position: absolute;
                        z-index: -1; // Put the input behind the label so it doesn't overlay text
                        opacity: 0;

                        &:checked ~ label::before {
                            color: $custom-control-indicator-checked-color;

                            @include gradient-bg(
                                $custom-control-indicator-checked-bg
                            );
                            @include box-shadow(
                                $custom-control-indicator-checked-box-shadow
                            );
                        }

                        &:focus ~ label::before {
                            // the mixin is not used here to make sure there is feedback
                            box-shadow: $custom-control-indicator-focus-box-shadow;
                        }

                        &:active ~ label::before {
                            color: $custom-control-indicator-active-color;
                            background-color: $custom-control-indicator-active-bg;

                            @include box-shadow(
                                $custom-control-indicator-active-box-shadow
                            );
                        }

                        &:disabled {
                            ~ label {
                                color: $custom-control-label-disabled-color;

                                &::before {
                                    background-color: $custom-control-indicator-disabled-bg;
                                    border: $custom-control-indicator-border-width
                                        solid
                                        $custom-control-indicator-border-disabled-color;
                                }
                            }
                        }
                    }

                    label {
                        margin-bottom: 0;
                        cursor: pointer;

                        // Background-color and (when enabled) gradient
                        &::before {
                            position: absolute;
                            top: (
                                (
                                    $line-height-base -
                                    $custom-control-indicator-size
                                ) / 2
                            );
                            left: 0;
                            display: block;
                            width: $custom-control-indicator-size;
                            height: $custom-control-indicator-size;
                            pointer-events: none;
                            content: "";
                            user-select: none;
                            background-color: $custom-control-indicator-bg;
                            // border-color: $primary !important;

                            @include box-shadow(
                                $custom-control-indicator-box-shadow
                            );
                        }

                        // Foreground (icon)
                        &::after {
                            position: absolute;
                            top: (
                                (
                                    $line-height-base -
                                    $custom-control-indicator-size
                                ) / 2
                            );
                            left: 0;
                            display: block;
                            width: $custom-control-indicator-size;
                            height: $custom-control-indicator-size;
                            content: "";
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: $custom-control-indicator-bg-size;
                            // border-color: $primary !important;
                        }

                        img {
                            padding-top: map-get($spacers, 0);
                            margin-right: map-get($spacers, 2);
                            margin-bottom: map-get($spacers, 0);
                        }
                    }
                }
            }

            .product-name {
                display: flex;
                justify-content: space-between;
            }

            .product-total {
                text-align: right;
            }

            .quantity-wrapper {
                display: flex;
                align-items: center;
                margin-bottom: 0;

                .screen-reader-text {
                    position: absolute;
                    width: 1px;
                    height: 1px;
                    padding: 0;
                    margin: -1px;
                    overflow: hidden;
                    clip: rect(1px, 1px, 1px, 1px);
                    word-wrap: normal !important;
                    border: 0;
                    -webkit-clip-path: inset(50%);
                    clip-path: inset(50%);
                }

                .adjust {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 16px;
                    height: 16px;
                    font-size: 8px;
                    // color: color-yiq($primary);
                    color: $primary;
                    cursor: pointer;
                    border: 1px solid $primary;
                    // background: $primary;
                    border-radius: 50%;

                    &:hover {
                        color: color-yiq($primary);
                        background-color: darken($primary, 7.5%);
                        border-color: darken($primary, 7.5%);
                    }
                }

                input {
                    width: 50px;
                    padding: 0;
                    padding-right: map-get($spacers, 2);
                    padding-left: map-get($spacers, 2);
                    text-align: center;
                    background: $body-bg;
                    border: 0;

                    &:focus {
                        outline: 0;
                    }
                }

                // Hide Arrows From Input Number
                /* Chrome, Safari, Edge, Opera */
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    margin: 0;
                    -webkit-appearance: none;
                }

                /* Firefox */
                input[type="number"] {
                    -moz-appearance: textfield;
                }
            }

            @extend .table;
        }
    }

    #kco-iframe {
        flex: 1;
        align-self: center;
        width: 100%;
        padding: map-get($spacers, 3);
        background: white;
    }

    @include make-col-ready();
    @include make-col(12);
}
