.woocommerce-account.logged-in {
    .woocommerce {
        @extend .row;

        padding: 0;

        .woocommerce-MyAccount-navigation {
            @extend .col-lg-3, .mb-6, .mb-md-4;

            ul {
                @extend .list-group;

                li {
                    display: flex;
                    position: relative;
                    top: -1px;
                    justify-content: space-between;
                    border: 0;
                    // border-top: 1px solid $secondary;
                    border-bottom: 1px solid $gray-100;
                    background: $body-bg;
                    // font-family: $font-family-secondary;

                    list-style: none;

                    &::after {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        margin-left: map-get($spacers, 2);
                        color: rgba($primary, 0.5);
                        font-family: "Font Awesome 5 Pro";
                        content: "\f406";
                        pointer-events: none;
                        user-select: none;
                    }

                    &.is-active {
                        // border-color: $secondary;

                        &::after {
                            color: $primary;
                        }
                        // @extend .active;

                        a {
                            color: $primary !important;
                        }
                    }

                    &.woocommerce-MyAccount-navigation-link--dashboard {
                        &::after {
                            content: "\f3fd" !important;
                        }
                    }

                    &.woocommerce-MyAccount-navigation-link--orders {
                        &::after {
                            content: "\f291" !important;
                        }
                    }

                    &.woocommerce-MyAccount-navigation-link--downloads {
                        &::after {
                            content: "\f019" !important;
                        }
                    }

                    &.woocommerce-MyAccount-navigation-link--edit-address {
                        &::after {
                            content: "\f3c5" !important;
                        }
                    }

                    &.woocommerce-MyAccount-navigation-link--edit-account {
                        &::after {
                            content: "\f406" !important;
                        }
                    }

                    &.woocommerce-MyAccount-navigation-link--customer-logout {
                        &::after {
                            content: "\f2f5" !important;
                        }
                    }

                    a {
                        flex: 1;
                        padding: map-get($spacers, 3) map-get($spacers, 0);
                        color: $body-color;
                        font-weight: $font-weight-bold;

                        &:hover,
                        &:active,
                        &:focus {
                            color: lighten($body-color, 15%);
                        }

                        // @extend .text-primary;
                    }
                }
            }
        }

        .woocommerce-MyAccount-content {
            @extend .col-12, .col-md, .table-responsive;

            table {
                @extend .table, .table-striped;

                thead {
                    background: $secondary;
                    color: color-yiq($secondary);

                    th {
                        padding: map-get($spacers, 2) map-get($spacers, 3);
                        font-weight: normal;
                    }
                }

                tbody {
                    td {
                        padding: map-get($spacers, 2) map-get($spacers, 3);
                        vertical-align: middle;
                    }
                }

                .view {
                    @extend .btn, .btn-primary, .btn-sm;

                    &::after {
                        position: relative;
                        margin-left: map-get($spacers, 2);
                        font-family: "Font Awesome 5 Free";
                        content: "\f06e";
                    }
                }
            }

            fieldset {
                @extend .row;

                margin-top: map-get($spacers, 6);
                margin-bottom: 4;
                padding: 0;

                > * {
                    // @extend .col-md-6;
                    @extend .col;

                    margin: 0;
                }

                label {
                    @extend .text-truncate;

                    display: block;
                }
            }

            em {
                font-size: $small-font-size;
                // color: $senary;
            }

            button {
                margin-top: map-get($spacers, 4);
            }
        }

        .woocommerce-EditAccountForm {
            @include media-breakpoint-up(lg) {
                width: 50%;
            }
        }

        address {
            font-style: italic;
        }

        legend {
            display: block;
            margin-bottom: $headings-margin-bottom !important;
            line-height: $headings-line-height;
            font-size: $h5-font-size;
            font-weight: $headings-font-weight;
        }
    }
}
