.builder_block_sections_woocommerce_my_account {
    h2 {
        margin-bottom: map-get($spacers, 5);
    }

    .col2-set {
        @include make-row();
    }

    .col-1,
    .col-2 {
        @include make-col-ready();
        @include make-col(12);

        @include media-breakpoint-up(md) {
            @include make-col(6);
        }
    }

    .col-2 {
        margin-top: map-get($spacers, 6);

        @include media-breakpoint-up(md) {
            margin-top: 0;
        }
    }

    .woocommerce-form-row {
        margin-right: map-get($spacers, 0);
        margin-left: map-get($spacers, 0);

        input {
            @include form-control();
        }

        @include form-group-input();
    }

    .password-input {
        width: 100%;
    }

    .woocommerce-form__label {
        position: relative;
        display: block;
        align-self: center;
        order: 2;
        min-height: (1rem * $line-height-base);
        // padding-left: map-get($spacers, 4);
        padding-left: $custom-control-gutter + $custom-control-indicator-size;
        margin-left: map-get($spacers, 4);

        input {
            position: absolute;
            z-index: -1; // Put the input behind the label so it doesn't overlay text
            opacity: 0;

            &:checked ~ span::before {
                color: $custom-control-indicator-checked-color;

                @include gradient-bg($custom-control-indicator-checked-bg);
                @include box-shadow(
                    $custom-control-indicator-checked-box-shadow
                );
            }

            &:focus ~ span::before {
                // the mixin is not used here to make sure there is feedback
                box-shadow: $custom-control-indicator-focus-box-shadow;
            }

            &:active ~ span::before {
                color: $custom-control-indicator-active-color;
                background-color: $custom-control-indicator-active-bg;

                @include box-shadow(
                    $custom-control-indicator-active-box-shadow
                );
            }

            &:disabled {
                ~ span {
                    color: $custom-control-label-disabled-color;

                    &::before {
                        background-color: $custom-control-indicator-disabled-bg;
                        border: $custom-control-indicator-border-width solid
                            $custom-control-indicator-border-disabled-color;
                    }
                }
            }
        }

        span {
            margin-bottom: 0;
            cursor: pointer;

            // Background-color and (when enabled) gradient
            &::before {
                position: absolute;
                top: 50%;
                left: 0;
                display: block;
                width: $custom-control-indicator-size;
                height: $custom-control-indicator-size;
                pointer-events: none;
                content: "";
                user-select: none;
                background-color: $custom-control-indicator-bg;
                // border-color: $secondary !important;
                transform: translateY(-50%);

                @include box-shadow($custom-control-indicator-box-shadow);
            }

            // Foreground (icon)
            &::after {
                position: absolute;
                top: 50%;
                left: 0;
                display: block;
                width: $custom-control-indicator-size;
                height: $custom-control-indicator-size;
                content: "";
                background-repeat: no-repeat;
                background-position: center center;
                background-size: $custom-control-indicator-bg-size;
                // border-color: $secondary !important;
                transform: translateY(-50%);
            }
        }

        span::before {
            border: $custom-control-indicator-border-width solid
                $custom-control-indicator-border-color;

            @include border-radius($custom-checkbox-indicator-border-radius);
        }

        input:checked ~ span {
            &::before {
                @include gradient-bg($custom-control-indicator-checked-bg);
            }

            &::after {
                background-image: $custom-checkbox-indicator-icon-checked;
            }
        }

        input:indeterminate ~ span {
            &::before {
                @include gradient-bg(
                    $custom-checkbox-indicator-indeterminate-bg
                );
                @include box-shadow(
                    $custom-checkbox-indicator-indeterminate-box-shadow
                );
            }

            &::after {
                background-image: $custom-checkbox-indicator-icon-indeterminate;
            }
        }

        input:disabled {
            &:checked ~ span::before {
                background-color: $custom-control-indicator-checked-disabled-bg;
            }

            &:indeterminate ~ span::before {
                background-color: $custom-control-indicator-checked-disabled-bg;
            }
        }
    }

    .form-row {
        margin-top: map-get($spacers, 3);
        margin-right: 0;
        margin-left: 0;
    }

    .button {
        @extend .btn, .btn-primary;
    }

    .woocommerce-form-login {
        flex-direction: column;

        .woocommerce-form-row,
        .woocommerce-LostPassword,
        p.form-row {
            @include make-col-ready();
            @include make-col(12);

            @include media-breakpoint-up(lg) {
                @include make-col(6);
            }
        }

        @include make-row();
    }
}
