

.woocommerce-checkout.woocommerce-order-received {
    &.svea-checkout-confirmation-page {
        .woocommerce-thankyou-order-received{
    
            display: none;
        }
    
        .woocommerce-thankyou-order-details li{
            text-transform: none;
        }
    }
    .p-content-v1 {
        @include make-row();
        justify-content: center;
    }

    // .woocommerce {
    //     

        .woocommerce-order {
            margin: auto !important;
            > h1,
            > .h1,
            > h2,
            > .h2 {
                display: inline-block;
                position: relative;
                left: 50%;
                align-items: center;
                justify-content: center;
                transform: translateX(-50%);
                margin: 0 auto;
                border-bottom: 4px solid $primary;
                padding-bottom: map-get($spacers, 2);
                width: auto;
            }

            > * + * {
                margin-top: map-get($spacers, 6);
            }

            ul {
                margin: 0;
                padding: 0;
                list-style: none;

                li:nth-child(even) {
                    background: $gray-100;
                }

                li {
                    display: flex;
                    justify-content: space-between;
                    padding: map-get($spacers, 2) map-get($spacers, 3);

                    strong {
                        font-weight: $font-weight-base;
                    }
                }
            }

            .woocommerce-order-details {
                margin-top: map-get($spacers, 8) !important;

                h2 {
                    margin-bottom: map-get($spacers, 5);
                    font-size: $h3-font-size;
                }

                table {
                    @extend .table;

                    a {
                        @extend .text-body;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    th,
                    td {
                        border-top: 0 !important;
                    }

                    thead {
                        color: color-yiq($gray-100);

                        th {
                            background: $dark;
                            padding: map-get($spacers, 3);
                            // font-family: $font-family-secondary;
                            // font-weight: $font-weight-medium;
                            color: color-yiq($dark);

                            &:last-of-type {
                                text-align: right;
                            }
                        }
                    }

                    tbody {
                        strong {
                            font-weight: $font-weight-normal;
                        }

                        tr:nth-child(even) {
                            background: $gray-100;
                        }

                        td {
                            padding: map-get($spacers, 2) map-get($spacers, 3);

                            &:last-of-type {
                                text-align: right;
                            }
                        }
                    }

                    tfoot {
                        tr:nth-child(even) {
                            background: $gray-100;
                        }

                        td {
                            padding: map-get($spacers, 2) map-get($spacers, 3);
                            text-align: right;
                        }

                        th,
                        td {
                            border: 0;
                            font-weight: $font-weight-normal;
                        }

                        tr:first-of-type {
                            th,
                            td {
                                padding-top: map-get($spacers, 5);
                            }
                        }

                        tr:last-of-type {
                            background: none;
                            font-size: $h4-font-size;

                            th,
                            td {
                                padding: map-get($spacers, 3) map-get($spacers, 0);
                                font-weight: $headings-font-weight;
                            }
                        }
                    }
                }
            }

            .woocommerce-customer-details {
                .woocommerce-columns {
                    @include make-row();

                    .col-1,
                    .col-2 {
                        @include make-col-ready();
                        @include make-col(12);

                        h2 {
                            font-family: $font-family-base;
                            font-size: $h4-font-size;
                            font-weight: bold;
                        }

                        address {
                            p {
                                margin-bottom: map-get($spacers, 0);
                                text-align: left;
                            }

                            .woocommerce-customer-details--phone {
                                padding-top: map-get($spacers, 3);
                            }
                        }

                        @include media-breakpoint-up(lg) {
                            @include make-col(6);
                        }
                    }
                }
            }

            @include media-breakpoint-up(lg) {
                @include make-col-ready();
                @include make-col(6);
            }
        }

        
    // }
}
