@if $enable-woocommerce {
    .woocommerce {
        .woocommerce-notices-wrapper {
            ul {
                list-style: none;
            }

            li {
                display: flex;
                flex-basis: 100%;
                flex-wrap: wrap;
                justify-content: space-between;

                > a {
                    order: 2;
                }
            }
        }

        .woocommerce-message,
        .woocommerce-info,
        .woocommerce-error {
            display: flex;
            flex-basis: 100%;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: map-get($spacers, 3);
            padding: map-get($spacers, 3);

            > a {
                order: 2;
            }
        }

        .woocommerce-message {
            background: $success;
            color: color-yiq($success);

            a {
                color: color-yiq($success);

                &:hover,
                &:focus,
                &:active {
                    color: darken(color-yiq($success), $emphasized-link-hover-darken-percentage);
                }
            }
        }

        .woocommerce-error {
            background: $danger;
            color: color-yiq($danger);

            a {
                color: color-yiq($danger);

                &:hover,
                &:focus,
                &:active {
                    color: darken(color-yiq($danger), $emphasized-link-hover-darken-percentage);
                }
            }
        }

        .woocommerce-info {
            background: $dark;
            color: color-yiq($dark);

            a {
                color: color-yiq($dark);

                &:hover,
                &:focus,
                &:active {
                    color: darken(color-yiq($dark), $emphasized-link-hover-darken-percentage);
                }
            }
        }

        .woocommerce-NoticeGroup {
            @include make-col-ready();
            @include make-col(12);

            ul {
                display: flex;
                flex-direction: column;
                list-style: none;
            }

            li {
                display: block;
            }

            li + li {
                margin-top: map-get($spacers, 2);
            }
        }
    }

    @import 'my_account_login';
    @import 'my_account';
    @import 'cart';
    @import 'checkout';
    @import 'order_received';
    @import 'quantity/quantity';
    @import 'klarna_checkout';
}
