#wpadminbar {
    position: fixed !important;
}

html.no-scroll {
    height: 100% !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;

    body {
        height: 100% !important;
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }
}

@import 'style-mobile';
@import 'style-desktop';
