.gf-globalnav-desktop {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .gn-nav {
        top: 0;
        z-index: 999;
        background: $primary;
        padding-top: map-get($spacers, 3);
        padding-bottom: map-get($spacers, 3);
        width: 100%;
        color: color-yiq($primary);

        a {
            color: color-yiq($primary);
        }

        &.fixed {
            position: fixed;
            transition: top 0.24s linear;
        }
    }

    .gn-content {
        display: flex;
        position: relative;
        margin: 0 auto;
        padding: 0 ($grid-gutter-width / 2);
        width: 100%;
        min-width: 320px;
        list-style: none;

        @include media-breakpoint-up(sm) {
            max-width: map-get($container-max-widths, sm);
        }

        @include media-breakpoint-up(md) {
            max-width: map-get($container-max-widths, md);
        }

        @include media-breakpoint-up(lg) {
            max-width: map-get($container-max-widths, lg);
        }

        @include media-breakpoint-up(xl) {
            max-width: map-get($container-max-widths, xl);
        }
    }

    .gn-logo {
        display: flex;
        align-items: center;

        a {
            display: flex;
        }

        img {
            height: 40px;
        }
    }

    ul.gn-navlist {
        display: flex;
        flex: 1;
        align-items: center;

        li.gn-navlist-item {
            display: flex;
        }

        a.gn-navlist-link {
            padding: map-get($spacers, 3) map-get($spacers, 3);
        }

        li.gn-navlist-item-has-subnav,
        li.gn-navlist-item-second-has-subnav {
            position: relative;

            > a {
                &::after {
                    margin-left: map-get($spacers, 3);
                    color: color-yiq($primary);
                    font-family: "Font Awesome 5 Pro";
                    font-size: $font-size-base;
                    content: "\f078";
                }
            }
        }

        li.gn-navlist-item-has-subnav.open {
            ul.gn-subnav {
                transition: height 0.24s cubic-bezier(0.52, 0.16, 0.24, 1) 0s, opacity 0s linear 0s,
                    visibility 0s linear 0s;
                visibility: visible;
                opacity: 1;

                ul.gn-subnav-list {
                    transition: opacity 0s linear 0.24s, visibility 0s linear 0s;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        li.gn-navlist-item-second-has-subnav.open {
            ul.gn-second-subnav {
                transition: height 0.24s cubic-bezier(0.52, 0.16, 0.24, 1) 0s, opacity 0s linear 0s,
                    visibility 0s linear 0s;
                visibility: visible;
                opacity: 1;

                > li {
                    transition: opacity 0s linear 0.24s, visibility 0s linear 0s;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        li.gn-navlist-item-second-has-subnav.left {
            ul.gn-second-subnav {
                top: 0;
                right: 100%;
                left: auto;
            }
        }

        ul.gn-subnav,
        ul.gn-second-subnav {
            position: absolute;
            transition: height 0.24s cubic-bezier(0.52, 0.16, 0.24, 1) 0s, opacity 0s linear 0.24s,
                visibility 0s linear 0.24s;
            visibility: hidden;
            opacity: 0;
            background: $primary;
            min-width: 12.5rem; // ÄNDRA 200px
            will-change: height, opacity, visibility;

            a {
                display: flex;
                justify-content: space-between;
                padding: map-get($spacers, 3) map-get($spacers, 3);
            }
        }

        ul.gn-subnav {
            top: 100%;
            left: 0;
        }

        ul.gn-second-subnav {
            top: 0;
            right: auto;
            left: 100%;
        }

        ul.gn-subnav-list,
        ul.gn-second-subnav {
            li:first-of-type {
                padding-top: map-get($spacers, 3);
            }

            li:last-of-type {
                padding-bottom: map-get($spacers, 3);
            }
        }

        ul.gn-subnav-list {
            transition: opacity 0s linear 0s, visibility 0s linear 0.24s;
            visibility: hidden;
            opacity: 0;
            will-change: opacity, visibility;
        }

        li.gn-navlist-item-second-has-subnav.left {
        }

        ul.gn-second-subnav {
            > li {
                transition: opacity 0s linear 0s, visibility 0s linear 0.24s;
                visibility: hidden;
                opacity: 0;
                will-change: opacity, visibility;
            }
        }

        li.gn-subnav-item {
        }
    }

    ul.gn-buttons {
        display: flex;
        align-items: center;
    }

    li.gn-searchbar-container {
        position: relative;
    }

    button.gn-search-btn {
        all: unset;
        cursor: pointer;
        padding: map-get($spacers, 3) map-get($spacers, 3);

        &:hover,
        &:focus,
        &:active {
        }
    }

    .gn-searchbar {
        position: absolute;
        top: 100%;
        right: 0;
        transition: height 0.24s cubic-bezier(0.52, 0.16, 0.24, 1) 0s, opacity 0s linear 0.24s,
            visibility 0s linear 0.24s;
        visibility: hidden;
        opacity: 0;
        z-index: 1;
        background: $primary;
        width: 28.13rem; //450px
        height: 0;
        overflow: hidden;
        will-change: height, opacity, visibility;

        .gn-searchbar-inner {
            padding: map-get($spacers, 3);
        }

        &.js-searchopen {
            transition: height 0.24s cubic-bezier(0.52, 0.16, 0.24, 1) 0s, opacity 0s linear 0s,
                visibility 0s linear 0s;
            visibility: visible;
            opacity: 1;

            .form-group {
                transition: opacity 0s linear 0.24s;
                opacity: 1;
            }
        }

        .form-group {
            position: relative;
            transition: opacity 0s linear 0s;
            opacity: 0;
            margin-bottom: map-get($spacers, 0);

            input {
                // webkit clear button
                &::-webkit-search-cancel-button {
                    position: relative;
                    right: map-get($spacers, 7);
                    cursor: pointer;
                }
                // webkit clear button ends
            }

            i {
                display: flex;
                position: absolute;
                top: 0;
                right: 0;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                padding: map-get($spacers, 3);
                height: 100%;
                color: color-yiq($white);

                &:hover,
                &:focus,
                &:active {
                }
            }
        }
    }
}
