@media (min-width: map-get($grid-breakpoints, xs)) and (max-width: map-get($grid-breakpoints, sm)) {
    .col,
    [class*='col-'] {
        padding-right: ($grid-gutter-width-sm / 2);
        padding-left: ($grid-gutter-width-sm / 2);
    }

    .row:not(.no-gutters) {
        margin-right: -($grid-gutter-width-sm / 2);
        margin-left: -($grid-gutter-width-sm / 2);
    }

    .container,
    .container-fluid {
        padding-right: ($grid-gutter-width-sm / 2);
        padding-left: ($grid-gutter-width-sm / 2);
    }

    section {
        margin-top: $section-margin-sm !important;
    }

    footer.gf-global-footer {
        margin-top: $footer-margin-sm !important;
    }
}

section,
footer.gf-global-footer {
    margin-top: $section-margin;

    .col,
    [class*='col-'] {
        *:last-child:not(.form-group) {
            margin-bottom: 0;
        }
    }

    .row.mb {
        margin-bottom: -$grid-gutter-width;

        & > .col,
        & > [class*='col-'] {
            margin-bottom: $grid-gutter-width !important;
        }

        @media (min-width: map-get($grid-breakpoints, xs)) and (max-width: map-get($grid-breakpoints, sm)) {
            margin-bottom: -$grid-gutter-width-sm;

            & > .col,
            & > [class*='col-'] {
                margin-bottom: $grid-gutter-width-sm !important;
            }
        }
    }
}

footer.gf-global-footer {
    margin-top: $footer-margin;
}

section.snapped,
footer.gf-global-footer.snapped {
    margin-top: 0 !important;
}

section.snappable + footer.gf-global-footer {
    margin-top: 0 !important;
}

//Remove margin first section
section:first-of-type {
    margin-top: map-get($spacers, 0) !important;
}
//Remove margin first section ends
