body.admin-bar {
    a[href='#'],
    a[href=''],
    a:not([href]) {
        position: relative;
        outline: 0.125em solid red;
    }

    @if $enable-woocommerce {
        .variations_form {
            a {
                outline: none !important;
            }
        }
    }
}
