@mixin form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$form-grid-gutter-width / 2;
    margin-left: -$form-grid-gutter-width / 2;

    > .col,
    > [class*="col-"] {
        padding-right: $form-grid-gutter-width / 2;
        padding-left: $form-grid-gutter-width / 2;
    }
}

@mixin form-group-input() {
    label:not(.custom-control-label),
    .screen-reader-text {
        display: flex;
        transform: translate(
            $input-padding-x,
            calc(
                #{$label-focus-font-size * $line-height-base} + #{$label-margin-bottom} + #{$input-height-border} +
                    #{$input-padding-y}
            )
        );
        transition: $transition-base;
        margin: 0;
        padding-bottom: $label-margin-bottom;
        width: calc(100% - #{$input-padding-x});
        height: calc(#{$label-focus-font-size * $line-height-base} + #{$label-margin-bottom});
        line-height: $line-height-base;
        color: $label-color;
        font-size: $input-font-size;
        pointer-events: none;
    }

    input {
        &::placeholder {
            color: transparent;
        }
    }

    .js-boostrap-select-label {
        transform: translate(0, 0) !important;
        transition: none !important;
        color: $label-focus-color !important;
        font-size: $label-focus-font-size !important;
    }

    &.is-invalid {
        label:not(.custom-control-label) {
            color: $form-feedback-invalid-color !important;
        }
    }

    &.is-valid {
        label:not(.custom-control-label) {
            color: $form-feedback-valid-color !important;
        }
    }

    &.js-input-active {
        label:not(.custom-control-label) {
            transform: translate(0, 0);
            transition: $transition-base;
            color: $label-focus-color;
            font-size: $label-focus-font-size;
        }
    }

    // style bootstrap-select so it follows the rest of bootstrap settings
    .bootstrap-select {
        .selected-changed {
            color: $input-color !important;
        }

        &.disabled {
            opacity: 0.4;
            background-color: $input-disabled-bg !important;
            cursor: not-allowed;
            pointer-events: none;

            .dropdown-toggle {
                opacity: 1;
                background-color: transparent !important;

                &::after {
                    color: $input-placeholder-color;
                }
            }
        }

        .dropdown-toggle {
            @include form-control-focus();

            outline: 0 !important;
            border: $input-border-width solid $input-border-color;
            background-color: $input-bg;
            padding: $input-padding-y $input-padding-x;
            height: $input-height;
            text-transform: initial;
            color: $input-placeholder-color;
            font-weight: $font-weight-normal;

            &::after {
                border: 0;
                color: $primary;
                font-family: "Font Awesome 5 Pro";
                font-size: $font-size-base;
                content: "\f078";
            }

            &:hover,
            &:focus,
            &:active {
                outline: 0 !important;
            }

            @if $enable-rounded {
                border-radius: $input-border-radius;
            }

            &:focus,
            &:active {
                color: $input-color !important;
            }

            &:hover {
                color: $input-placeholder-color !important;
            }
        }

        &.show {
            .dropdown-toggle {
                border-color: $input-focus-border-color;
                box-shadow: $input-btn-focus-box-shadow;
                color: $input-color !important;
            }
        }

        .dropdown-menu {
            margin-top: $input-btn-focus-width;
            border-color: $input-border-color !important;
            background-color: $input-bg !important;
            padding: map-get($spacers, 0);

            * {
                outline: 0;
            }

            a:hover,
            a:active,
            a:focus {
                background: $gray-100;
                color: color-yiq($gray-100);
            }

            .dropdown-item {
                padding: $input-padding-y $input-padding-x;
            }

            .active {
                background: $primary;
                color: color-yiq($primary);

                &::before {
                    border: 0 !important;
                }

                &:hover,
                &:active,
                &:focus {
                    background: lighten($primary, $emphasized-link-hover-darken-percentage);
                    color: color-yiq($primary);
                }
            }

            li:not(.active) + li {
                &::before {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    margin-right: $input-padding-x;
                    margin-left: $input-padding-x;
                    border-top: 1px solid $input-border-color;
                    content: "";
                }
            }

            li.active + li {
                &::before {
                    border: 0 !important;
                }
            }
        }
    }
}

@mixin form-control() {
    @include font-size($input-font-size);

    // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
    @include border-radius($input-border-radius, 0);
    @include box-shadow($input-box-shadow);
    @include transition($input-transition);

    // Customize the `:focus` state to imitate native WebKit styles.
    @include form-control-focus();

    display: block;
    border: $input-border-width solid $input-border-color;
    background-clip: padding-box;
    background-color: $input-bg;
    padding: $input-padding-y $input-padding-x;
    width: 100%;
    height: $input-height;
    line-height: $input-line-height;
    color: $input-color;
    font-family: $input-font-family;
    font-weight: $input-font-weight;

    // Unstyle the caret on `<select>`s in IE10+.
    &::-ms-expand {
        border: 0;
        background-color: transparent;
    }

    // Placeholder
    &::placeholder {
        // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
        opacity: 0;
        color: $input-placeholder-color;
    }

    &:focus {
        &::placeholder {
            color: $input-color;
        }
    }

    // Disabled and read-only inputs
    //
    // HTML5 says that controls under a fieldset > legend:first-child won't be
    // disabled if the fieldset is disabled. Due to implementation difficulty, we
    // don't honor that edge case; we style them as disabled anyway.
    &:disabled,
    &[readonly] {
        // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
        opacity: 0.4;
        background-color: $input-disabled-bg;
    }
}

@mixin custom-control() {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: $custom-control-height;

    &.custom-control-inline {
        display: inline-flex !important;
    }

    .valid-feedback,
    .invalid-feedback {
        flex: 1;
        flex-basis: 100%;
        margin-top: 0;
    }

    .custom-control-label {
        cursor: pointer;

        &::before {
            border-width: 2px;
        }
    }

    .custom-control-input:disabled + .custom-control-label {
        cursor: initial;

        &::before {
            border-color: $gray-300;
        }
    }
}
