.p-puff_card-v1 {
    .card-body {
        padding: map-get($spacers, 5);
    }

    .card-icon {
        margin-bottom: map-get($spacers, 4);
        color: $primary;
        font-size: $h2-font-size;
    }

    .card-title {
        color: $secondary;
    }

    .card-desc {
        // color: $senary;
    }

    @if $enable-shadows {
        @extend .shadow;
    }
}
