* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &::selection {
        background: rgba($primary, 0.3);
    }
}

// Set rem size
html {
    font-size: $rem-size-xs;

    @include media-breakpoint-up(sm) {
        font-size: $rem-size-sm;
    }

    @include media-breakpoint-up(md) {
        font-size: $rem-size-md;
    }

    @include media-breakpoint-up(lg) {
        font-size: $rem-size-lg;
    }

    @include media-breakpoint-up(xl) {
        font-size: $rem-size-xl;
    }
}
// Set rem size end
