h1,
.h1 {
    @include font-size($h1-font-size);
}

h2,
.h2 {
    @include font-size($h2-font-size);
}

h3,
.h3 {
    @include font-size($h3-font-size);
}

h4,
.h4 {
    @include font-size($h4-font-size);
}

h5,
.h5 {
    @include font-size($h5-font-size);
}

h6,
.h6 {
    @include font-size($h6-font-size);
}

.display-1 {
    @include font-size($display1-size);
}

.display-2 {
    @include font-size($display2-size);
}

.display-3 {
    @include font-size($display3-size);
}

.display-4 {
    @include font-size($display4-size);
}
