// * {
//     outline: 1px solid coral;
// }

// .woocommerce {
//     .quantity-wrapper {
//         position: relative;
//         width: 82px !important;
//         margin: 0;
//         // max-height: 57px !important;
//         // background: red;
//         // margin-top: map-get($spacers, 3);
//         margin-right: $grid-gutter-width;

//         .adjust {
//             position: absolute;

//             right: 1rem;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             width: 18px;
//             height: 20px;
//             font-size: 8px;
//             cursor: pointer;
//             background-color: #f5f5f5;

//             &.increase {
//                 top: 7px;
//                 border-bottom: 1px solid #e3e3e3;
//                 border-top-left-radius: 9px;
//                 border-top-right-radius: 9px;
//             }

//             &.decrease {
//                 bottom: 7px;
//                 border-bottom-right-radius: 9px;
//                 border-bottom-left-radius: 9px;
//             }
//         }

//         .quantity {
//             label {
//                 display: none;
//             }
//         }

//         input {
//             width: 82px !important;
//             padding: map-get($spacers, 3) map-get($spacers, 4);
//             font-family: $font-family-secondary;
//             font-size: $font-size-base;
//             font-weight: bold;
//             line-height: 22px;
//             background: linear-gradient(
//                 180deg,
//                 #eeeeee 0%,
//                 #d9d9d9 100%
//             ) !important;
//             border: none !important;
//             border-radius: 3px !important;
//         }

//         input[type="number"]::-webkit-inner-spin-button,
//         input[type="number"]::-webkit-outer-spin-button {
//             margin: 0;
//             -webkit-appearance: none;
//         }
//     }
// }
