.builder_block_sections_four_oh_four_v1 {
    .btn-container {
        display: flex;
        margin-top: map-get($spacers, 4);
        margin-bottom: -(map-get($spacers, 3)) !important;

        .btn {
            margin-bottom: map-get($spacers, 3) !important;
        }

        .btn:not(:first-of-type) {
            margin-left: map-get($spacers, 3);
        }
    }
}
