$lines-to-show: 4;

.builder_block_sections_archive_fifty_fifty_image_text {
    .news-card:not(:first-of-type) {
        margin-top: $section-margin-sm;

        @include media-breakpoint-up(sm) {
            margin-top: $section-margin;
        }
    }

    img {
        width: 100%;
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

    .default-text {
        margin-bottom: map-get($spacers, 2);
        text-transform: uppercase;
        color: $secondary;
    }

    .truncate-box {
        display: block; /* Fallback for non-webkit */
        display: -webkit-box;
        height: $font-size-base * $line-height-base * $lines-to-show; /* Fallback for non-webkit */
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: $lines-to-show;
        -webkit-box-orient: vertical;
    }

    .btn {
        margin-top: map-get($spacers, 4);
    }
}
