.gf-global-footer {
    background: $primary;
    padding-top: map-get($spacers, 4);
    padding-bottom: map-get($spacers, 4);
    color: color-yiq($primary);

    .gf-logo {
        img {
            width: auto;
            height: 100%;
            max-height: map-get($spacers, 5);
        }
    }

    .copyright-container {
        opacity: 40%;
        text-align: right;

        img {
            width: auto;
            height: 100%;
            max-height: map-get($spacers, 3);
        }
    }
}
