// .alignnone {
// }

.aligncenter {
    display: block;
    margin-right: auto;
    margin-bottom: map-get($spacers, 3) !important;
    margin-left: auto;
}

.alignleft {
    float: left;
    margin-right: map-get($spacers, 3) !important;
    margin-bottom: map-get($spacers, 3) !important;
}

.alignright {
    float: right;
    margin-bottom: map-get($spacers, 3) !important;
    margin-left: map-get($spacers, 3) !important;
}

img {
    max-width: 100%;
    height: auto;

    &.alignnone {
        display: block;
        margin-bottom: map-get($spacers, 3);
        max-width: 100%;
        height: auto;

        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }

    &.aligncenter {
        display: block;
        margin-right: auto;
        margin-bottom: map-get($spacers, 3);
        margin-left: auto;
        max-width: 100%;
        height: auto;

        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }

    &.alignright {
        display: block;
        float: right;
        margin-bottom: map-get($spacers, 3);
        margin-left: map-get($spacers, 3);
        // width: 50%;
        max-width: 100%;
        height: auto;

        @include media-breakpoint-down(sm) {
            float: none;
            margin-left: map-get($spacers, 0);
            width: 100%;
        }
    }

    &.alignleft {
        display: block;
        float: left;
        margin-right: map-get($spacers, 3);
        margin-bottom: map-get($spacers, 3);
        // width: 50%;
        max-width: 100%;
        height: auto;

        @include media-breakpoint-down(sm) {
            float: none;
            margin-right: map-get($spacers, 0);
            width: 100%;
        }
    }
}
